<?xml version="1.0"?>
<ruleset name="Mezzio Skeleton coding standard">
    <description>Mezzio Skeleton coding standard</description>

    <config name="ignore_warnings_on_exit" value="1"/>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- inherit rules from: -->
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>*/test/*</exclude-pattern>
    </rule>

    <!-- Paths to check -->
    <file>config</file>
    <file>src</file>
    <file>test</file>
</ruleset>
