version: 2
# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
updates:
  # Enable version updates for service-front npm
  - package-ecosystem: "npm"
    directory: "/service-front/web"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
    versioning-strategy: lockfile-only

  # Enable version updates for service-pdf npm
  - package-ecosystem: "npm"
    directory: "/service-pdf/app"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
    versioning-strategy: lockfile-only

  # Enable version updates for service-front composer
  - package-ecosystem: "composer"
    directory: "/service-front/app"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
    versioning-strategy: lockfile-only

  # Enable version updates for service-api composer
  - package-ecosystem: "composer"
    directory: "/service-api/app"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
    versioning-strategy: lockfile-only

    # Enable version updates for smoke tests composer
  - package-ecosystem: "composer"
    directory: "/tests/smoke"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
    versioning-strategy: lockfile-only

    # Enable version updates for account terraform
  - package-ecosystem: "terraform"
    directory: "/terraform/account"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"

    # Enable version updates for environment terraform
  - package-ecosystem: "terraform"
    directory: "/terraform/environment"
    schedule:
      # Check for updates on the first of each month at 10am UTC
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"

    # Enable version updates for service-admin gomod
  - package-ecosystem: "gomod"
    directory: "/service-admin"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"

    # Enable version updates for service-admin docker
  - package-ecosystem: "docker"
    directory: "/service-admin"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "Europe/London"
