version: 2
# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
updates:
  # Enable version updates for service-front npm
  - package-ecosystem: "npm"
    directory: "/service-front/web"
    schedule:
      # Check for updates weekly on wednesday at 10am UTC
      interval: "weekly"
      day: "wednesday"
      time: "10:00"
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 3
  # Enable version updates for service-pdf npm
  - package-ecosystem: "npm"
    directory: "/service-pdf/app"
    schedule:
      # Check for updates weekly on wednesday at 10am UTC
      interval: "weekly"
      day: "wednesday"
      time: "10:00"
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 3

  # Enable version updates for service-front composer
  - package-ecosystem: "composer"
    directory: "/service-front/app"
    schedule:
      # Check for updates weekly on wednesday at 10am UTC
      interval: "weekly"
      day: "wednesday"
      time: "10:00"
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 3

  # Enable version updates for service-api composer
  - package-ecosystem: "composer"
    directory: "/service-api/app"
    schedule:
      # Check for updates weekly on wednesday at 10am UTC
      interval: "weekly"
      day: "wednesday"
      time: "10:00"
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 3

    # Enable version updates for smoke tests composer
  - package-ecosystem: "composer"
    directory: "/tests/smoke"
    schedule:
      # Check for updates weekly on wednesday at 10am UTC
      interval: "weekly"
      day: "wednesday"
      time: "10:00"
    versioning-strategy: lockfile-only
    open-pull-requests-limit: 3
