.DS_Store
**/.terraform/
**/terraform.tfstate.d/
geckodriver.log
.vscode/
**__pycache__
**/cluster_config.json

.python-version

# terraform-compliance resources
terraform/*/tests/plan.out*
terraform/*/tests/state.out*
