.DS_Store
**/.terraform/
**/terraform.tfstate.d/
geckodriver.log
.vscode/
**__pycache__
**/cluster_config.json
build/**
scripts/getStatsResultDemo.json

.python-version
.pytest_cache
.coverage
.phpunit.cache/
.phpunit.result.cache
.phpcs-cache
scripts/analysis_scripts/*.csv

query/s3_objects/**
query/results/*.csv
terraform/**/modules/**.terraform.lock.hcl

.structurizr
docs/diagrams/dsl/**/workspace.json

*.pem
tests/vendor
