.DS_Store
**/.terraform/
**/terraform.tfstate.d/
geckodriver.log
.vscode/
**__pycache__
**/cluster_config.json

.python-version
.pytest_cache
.coverage
scripts/analysis_scripts/*.csv

query/s3_objects/**
