# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.idea/'
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - name: phpcbf-front
        id: phpcbf-front
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh front
        files: service-front\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcbf-api
        id: phpcbf-api
        language: script
        entry: ./pre-commit-hooks/phpcbf.sh api
        files: service-api\/app\/.*\.(php)$
        fail_fast: true
      - name: phpcs-api
        id: phpcs-api
        language: script
        entry: ./pre-commit-hooks/phpcs.sh api
        files: service-api\/app\/.*\.(php)$
      - name: phpcs-front
        id: phpcs-front
        language: script
        entry: ./pre-commit-hooks/phpcs.sh front
        files: service-front\/app\/.*\.(php)$
