version: "3"

services:

  viewer-web:
    container_name: viewer-web
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/web:latest
    build:
      context: .
      dockerfile: service-front/docker/web/Dockerfile
    volumes:
      - ./service-front/web:/web
    ports:
      - 9001:80
    environment:
      APP_HOST: viewer-app
      APP_PORT: 9000
      NGINX_LOG_LEVEL: warn

  viewer-app:
    container_name: viewer-app
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front:latest
    build:
      context: .
      dockerfile: service-front/docker/app/Dockerfile
    volumes:
      - ./service-front/app:/app
    environment:
      # Always required
      SECRET_NAME_SESSION: 'session-keys'

      # Local only
      AWS_ENDPOINT_SECRETS_MANAGER: http://localstack:4584
      AWS_ACCESS_KEY_ID: '-'
      AWS_SECRET_ACCESS_KEY: '-'
      ENABLE_XDEBUG: 'true'
      PHP_IDE_CONFIG: serverName=viewer-app
      XDEBUG_CONFIG: remote_host=host.docker.internal remote_enable=1 remote_log=/tmp/xdebug.log

  viewer-composer:
    image: composer
    volumes:
      - ./service-front/app:/app
    command:
      - install
      - --prefer-dist
      - --no-suggest
      - --no-interaction
      - --no-scripts
      - --optimize-autoloader

  localstack:
    image: localstack/localstack
    ports:
      - 4584:4584
    environment:
      - SERVICES=secretsmanager:4584
      - DEFAULT_REGION=eu-west-1
      - HOSTNAME=localstack

  localstack-config:
    container_name: localstack-config
    build:
      context: .
      dockerfile: localstack-config/Dockerfile
    volumes:
      - ./localstack-config:/config
    depends_on:
      - localstack
    environment:
      # Dummy keys
      SECRET_SESSION_KEYS_KEY: 'session-keys'
      SECRET_SESSION_KEYS_VALUE: '{"1":"0000000000000000000000000000000000000000000000000000000000000000", "2":"1111111111111111111111111111111111111111111111111111111111111111"}'

  kms:
    image: nsmithuk/local-kms:2
    volumes:
      - ./localstack-config:/init
    environment:
      REGION: eu-west-2
      SEED_PATH: /init/kms-seed.yaml
