services:

  # -----
  # Service overrides for dependency startup ordering
  viewer-app:
    environment:
      API_SERVICE_URL: http://api-web
      PDF_SERVICE_URL: http://service-pdf
      AWS_ENDPOINT_KMS: http://localstack:4566
    depends_on:
      redis:
        condition: service_started
      service-pdf:
        condition: service_started
      localstack:
        condition: service_healthy

  actor-app:
    environment:
      API_SERVICE_URL: http://api-web
      AWS_ENDPOINT_KMS: http://localstack:4566
    depends_on:
      redis:
        condition: service_started
      localstack:
        condition: service_healthy

  api-app:
    depends_on:
      api-gateway:
        condition: service_started
      mock-lpa-codes:
        condition: service_started
      mock-lpa-data-store:
        condition: service_started
      mock-one-login:
        condition: service_started
      localstack:
        condition: service_healthy
    environment:
      SIRIUS_API_ENDPOINT: http://api-gateway:5000
      LPA_CODES_API_ENDPOINT: http://mock-lpa-codes:4015
      IAP_IMAGES_API_ENDPOINT: http://api-gateway:5000
      LPA_DATA_STORE_API_ENDPOINT: http://mock-lpa-data-store:4014
      ONE_LOGIN_DISCOVERY_URL: http://mock-one-login:8080/.well-known/openid-configuration
      AWS_ENDPOINT_DYNAMODB: http://localstack:4566
      AWS_ENDPOINT_EVENTBRIDGE: http://localstack:4566
      AWS_ENDPOINT_SECRETSMANAGER: http://localstack:4566
      AWS_ENDPOINT_SSM: http://localstack:4566

  api-seeding:
    depends_on:
      localstack:
        condition: service_healthy
    environment:
      AWS_ENDPOINT_DYNAMODB: http://localstack:4566

  upload-stats-lambda:
    depends_on:
      localstack:
        condition: service_healthy

  # ---------------------------
  # Cache service
  redis:
    image: docker.io/redis:8@sha256:c22af04bb576503bf16b3e34a1fd2fd82de0f765afd866d2e380145e0af30d78

  # ---------------------------
  # PDF Generator
  service-pdf:
    container_name: service-pdf
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/pdf-service:latest
    ports:
      - 9004:80

  # ---------------------------
  # Sirius gateway mock
  api-gateway:
    container_name: api-gateway
    image: docker.io/nginx:stable-alpine@sha256:bb2ba4172e705075aca7f0f51a21fd7c758e543e09b220a4eba5a067666180a5
    depends_on:
      - mock-data-lpa
      - mock-image-request-handler
    ports:
      - "4010:5000"
    volumes:
      - ./mock-integrations/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./mock-integrations/image-request-handler/mocked-images:/var/www/html:ro

  mock-data-lpa:
    container_name: mock-data-lpa
    image: docker.io/stoplight/prism:5@sha256:fab47aee53c3007facd5d23e7957b1fc312b30dddad27bf570c2cb4a51c5f959
    command:
      - "mock"
      - "-h"
      - "0.0.0.0"
      - "/tmp/openapi.yaml"
    ports:
      - "4011:4010"
    volumes:
      - ./mock-integrations/opg-data-lpa/mock-openapi.yaml:/tmp/openapi.yaml:ro

  mock-image-request-handler:
    container_name: mock-image-request-handler
    image: docker.io/outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    command:
      - "-c"
      - "/opt/imposter/config"
      - "-l"
      - "4012"
    ports:
      - "4012:4012"
    volumes:
      - ./mock-integrations/image-request-handler:/opt/imposter/config:ro

  mock-lpa-data-store:
    container_name: mock-lpa-data-store
    image: docker.io/outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    command:
      - "-c"
      - "/opt/imposter/config"
      - "-l"
      - "4014"
    ports:
      - "4014:4014"
    volumes:
      - ./mock-integrations/lpa-data-store:/opt/imposter/config:ro

  mock-lpa-codes:
    container_name: mock-lpa-codes
    image: docker.io/outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    command:
      - "-c"
      - "/opt/imposter/config"
      - "-l"
      - "4015"
    ports:
      - "4015:4015"
    volumes:
      - ./mock-integrations/lpa-codes:/opt/imposter/config:ro

  mock-one-login:
    container_name: mock-one-login
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/mock-onelogin
    ports:
      - "4013:8080"
    environment:
      PUBLIC_URL: http://localhost:4013
      INTERNAL_URL: http://mock-one-login:8080
      REDIRECT_URL: https://localhost:9042/home/login
      CLIENT_ID: client-id
      TEMPLATE_SUB: 1

  localstack:
    container_name: localstack
    build:
      context: .
      dockerfile: localstack/Dockerfile
    ports:
      - "4566:4566"
    environment:
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DYNAMODB_SHARE_DB=1 # needed for NoSQLWorkbench to function when connecting locally
    volumes:
      - ./mock-integrations/secrets-manager/private_key.pem:/private_key.pem
      - ./mock-integrations/secrets-manager/public_key.pem:/public_key.pem
      - "/var/run/docker.sock:/var/run/docker.sock"
