version: '3.8'

services:

  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - 8000:8000

  # -----
  # Code Generation API development environment
  # -----

  codes-gateway:
    build:
      context: ../opg-data-lpa-codes/lambda_functions/v1
    ports:
      - 4343:4343
    volumes:
      - ../opg-data-lpa-codes/lambda_functions/v1/:/var/www/lambda_functions/v1/
    depends_on:
      - dynamodb-local
    environment:
      LOCAL_URL: host.docker.internal #rather than host name as the port is hardcoded to 8000
      ENVIRONMENT: local
      AWS_ACCESS_KEY_ID: testing
      AWS_SECRET_ACCESS_KEY: testing
      AWS_SECURITY_TOKEN: testing
      AWS_SESSION_TOKEN: testing
      AWS_DEFAULT_REGION: eu-west-1

  # ---------------------------
  # Cache service

  redis:
    image: redis:5

  # ---------------------------
  # AWS KMS mock service

  kms:
    image: nsmithuk/local-kms:2
    volumes:
      - ./local-config:/init
    environment:
      REGION: eu-west-1
      SEED_PATH: /init/kms-seed.yaml

  # ---------------------------
  # Sirius gateway mock
  api-gateway:
    container_name: gateway
    image: nginx:stable-alpine
    command: 'nginx -g "daemon off;"'
    volumes:
      - ./mock-integrations/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 7010:5000

  data-lpa:
    container_name: data-lpa
    image: stoplight/prism:4
    command: 'mock -h 0.0.0.0 /tmp/swagger.yaml'
    volumes:
      - ./mock-integrations/swagger.yaml:/tmp/swagger.yaml:ro
    ports:
      - 7011:4010
