version: "3"

services:
  viewer-web:
    container_name: viewer-web
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:latest
    build:
      context: .
      dockerfile: service-viewer/docker/web/Dockerfile
    volumes:
      - ./service-viewer/web:/web
    ports:
      - 9001:80
    environment:
      APP_HOST: viewer-app
      APP_PORT: 9000
      NGINX_LOG_LEVEL: warn

  viewer-app:
    container_name: viewer-app
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:latest
    build:
      context: .
      dockerfile: service-viewer/docker/app/Dockerfile
    volumes:
      - ./service-viewer/app:/app

  viewer-composer:
    image: composer
    volumes:
      - ./service-viewer/app:/app
    command:
      - install
