{% set route_name = get_route_name() %}

{% if route_name is not null %}
<nav role="navigation">
    <ul class="trans-switch" id="language-switch" aria-label="Change your language" role="list">
        <li class="govuk-list trans-switch__list govuk-body-s" id="language-switch-en" lang="en-gb" role="listitem">
            {% if path() matches '/(^\\/cy.*)/' %}
                {% if actorToken is defined and actorToken != 'null' %}
                    {% set path = path(route_name, {}, {'lpa': actorToken }) | replace({'/cy':''}) %}
                {% else %}
                    {% set path = path() | replace({'/cy':''}) %}
                {% endif %}
                <a href="{{ path }}" class="govuk-link govuk-link--no-visited-state" rel="alternate" hreflang="en-gb" aria-label="Change language to English">
                    English
                </a>
            {% else %}
                <span aria-current="true"><span class="govuk-visually-hidden">Current language is </span>English</span>
            {% endif %}
        </li>
        <li class="govuk-list trans-switch__list govuk-body-s" id="language-switch-cy" lang="cy-gb" role="listitem">
            {% if '/cy' not in path() %}
                {% if actorToken is defined and actorToken != 'null' %}
                    {% set path = '/cy' ~ path(route_name, {}, {'lpa': actorToken }) %}
                {% else %}
                    {% set path = '/cy' ~ path() %}
                {% endif %}
                <a href="{{ path }}" class="govuk-link govuk-link--no-visited-state" rel="alternate" hreflang="cy-gb" aria-label="Newid iaith i'r Gymraeg">
                    Cymraeg
                </a>
            {% else %}
                <span aria-current="true">Cymraeg<span class="govuk-visually-hidden"> yw'r iaith bresennol</span></span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
