{% set route_name = get_route_name() %}

{% if route_name is not null %}
<ul class="trans-switch" id="language-switch" aria-label="Change your language">
    <li class="govuk-list trans-switch__list govuk-body-s" id="language-switch-en" lang="en-gb">
        {% if path() matches '/(^\\/cy.*)/' %}
            {% if actorToken is defined and actorToken != 'null' %}
                {% set path = path(route_name, {}, {'lpa': actorToken }) | replace({'/cy':''}) %}
            {% else %}
                {% set path = path() | replace({'/cy':''}) %}
            {% endif %}
            <a href="{{ path }}" class="govuk-link">
                <span class="govuk-visually-hidden">Change language to </span>English</a>
        {% else %}
            <span class="govuk-visually-hidden">Current language is </span>English
        {% endif %}
    </li>
    <li class="govuk-list trans-switch__list govuk-body-s" id="language-switch-cy" lang="cy-gb">
        {% if '/cy' not in path() %}
            {% if actorToken is defined and actorToken != 'null' %}
                {% set path = '/cy' ~ path(route_name, {}, {'lpa': actorToken }) %}
            {% else %}
                {% set path = '/cy' ~ path() %}
            {% endif %}
            <a href="{{ path }}" class="govuk-link" aria-label="Newid iaith i'r Gymraeg">Cymraeg</a>
        {% else %}
            Cymraeg<span class="govuk-visually-hidden"> yw'r iaith bresennol</span>
        {% endif %}
    </li>
</ul>
{% endif %}
