{% extends '@layout/default.html.twig' %}

{% block html_title %}{{ status }} {{ reason }} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{% trans %}Sorry, there is a problem with the service{% endtrans %}</h1>
                <p class="govuk-body">{% trans %}Try again later.{% endtrans %}</h2></p>
                <p class="govuk-body">
                    {%trans with {'%link%': path('home')} %}
                        We’ve not saved any information you entered. When the service is available,
                        you’ll have to <a href="%link%" class="govuk-link">start again.</a>
                    {% endtrans %}
                </p>
                <p class="govuk-body">
                    {%trans with {'%link%': path('contact-us')} %}
                        You can <a class="govuk-link" href="%link%">contact us</a> if you have any questions.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
