{% extends '@layout/default.html.twig' %}

{% block html_title %}{% trans %}Session timeout{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@viewer/new-view-service.html.twig') }}

    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">{% trans %}Session timeout{% endtrans %}</h1>
        <p class="govuk-body">{% trans %}Your session has expired.{% endtrans %}</p>
        <p class="govuk-body">
            {%trans with {'%link%': path('home')} %}Please head back to <a href="%link%" class="govuk-link">Home</a>.{% endtrans %}
        </p>
    </main>
    {{ include('@viewer/new-view-service.html.twig') }}
</div>
{% endblock %}
