{% macro partials() %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}
        {% if path() == '/' or path() == '/home' %}
            {{ include('@actor/partials/lpas-registered-after.html.twig') }}
        {% endif %}
        {% if user is defined %}
            {{ include('@partials/account-bar.html.twig') }}
        {% endif %}
        {{ include('@partials/welsh-switch.html.twig') }}
    </div>
{% endmacro %}
