version: 2.1

workflows:
  path_to_live:
    jobs:
      # Common tasks
      - use-my-lpa/docker_build_viewer:
          name: build_view_containers
      - use-my-lpa/lint_terraform:
          name: lint_terraform
          workspace: development
      # Provision and test development
      - use-my-lpa/apply_terraform:
          name: apply_terraform_development
          workspace: development
          requires: [lint_terraform, build_view_containers]
          filters:
            branches:
              ignore: master
      - use-my-lpa/curl_test_viewer_service:
          name: curl_test_viewer_service_development
          workspace: development
          requires: [apply_terraform_development]
      - use-my-lpa/run_behave_suite:
          name: run_behave_suite_development
          workspace: development
          requires: [apply_terraform_development]
      # Provision and test preproduction
      - use-my-lpa/apply_terraform:
          name: apply_terraform_preproduction
          workspace: preproduction
          requires: [lint_terraform, build_view_containers]
          filters:
            branches:
              only: master
      - use-my-lpa/curl_test_viewer_service:
          name: curl_test_viewer_service_preproduction
          workspace: preproduction
          requires: [apply_terraform_preproduction]
      - use-my-lpa/run_behave_suite:
          name: run_behave_suite_preproduction
          workspace: preproduction
          requires: [apply_terraform_preproduction]
      # Provision and test production
      - use-my-lpa/apply_terraform:
          name: apply_terraform_production
          workspace: production
          requires: [curl_test_viewer_service_preproduction]
          filters:
            branches:
              only: master
      - use-my-lpa/curl_test_viewer_service:
          name: curl_test_viewer_service_production
          workspace: production
          requires: [apply_terraform_production]
      - use-my-lpa/run_behave_suite:
          name: run_behave_suite_production
          workspace: production
          requires: [apply_terraform_production]
orbs:
  use-my-lpa:
    commands:
      install_aws_cli:
        steps:
          - run:
              name: install_aws_cli
              command: sudo pip3 install awscli --upgrade
      install_webdriver:
        steps:
          - run:
              name: install_webdriver
              command: |
                wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
                sudo sh -c 'tar -x geckodriver -zf geckodriver-v0.23.0-linux64.tar.gz -O > /usr/bin/geckodriver'
                sudo chmod +x /usr/bin/geckodriver
                rm geckodriver-v0.23.0-linux64.tar.gz
      ecr_login:
        steps:
          - run:
              name: ecr_login
              command: |
                temp_role=$(aws sts assume-role --role-arn arn:aws:iam::311462405659:role/ci --role-session-name ci)
                export AWS_ACCESS_KEY_ID=$(echo $temp_role | jq .Credentials.AccessKeyId | xargs)
                export AWS_SECRET_ACCESS_KEY=$(echo $temp_role | jq .Credentials.SecretAccessKey | xargs)
                export AWS_SESSION_TOKEN=$(echo $temp_role | jq .Credentials.SessionToken | xargs)
                eval $(aws ecr get-login --no-include-email --region=eu-west-1)
    executors:
      python:
        docker: [image: circleci/python:3.6-stretch-browsers]
      terraform:
        docker: [image: hashicorp/terraform]
      aws-cli:
        docker: [image: tomtucka/python-awscli:v4]
    jobs:
      lint_terraform:
        executor: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
          container_version:
            description: Container version
            type: string
            default: ${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
          TF_VAR_container_version: "<<parameters.container_version>>"
        steps:
          - checkout
          - run:
              name: Lint Terraform
              command: |
                cd terraform
                terraform init
                terraform validate
      apply_terraform:
        executor: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - run:
              name: Apply Terraform
              command: |
                export SHORT_HASH=${CIRCLE_SHA1:0:7} >> $BASH_ENV
                cd terraform
                terraform init
                terraform apply --auto-approve -var container_version=$CIRCLE_BRANCH-$SHORT_HASH
      docker_build_viewer:
        executor: aws-cli
        environment:
        steps:
          - checkout
          - setup_remote_docker:
              version: 18.06.0-ce
              docker_layer_caching: false
          - run:
              name: Build
              command: |
                # Build viewer service
                docker-compose build
          - ecr_login
          - run:
              name: Deploy
              command: |
                export SHORT_HASH=${CIRCLE_SHA1:0:7} >> $BASH_ENV
                # Viewer App
                docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:$CIRCLE_BRANCH-$SHORT_HASH
                if [ "${CIRCLE_BRANCH}" == "master" ]; then 
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front
                else
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:$CIRCLE_BRANCH-$SHORT_HASH
                fi

                # Viewer Web
                docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:$CIRCLE_BRANCH-$SHORT_HASH
                if [ "${CIRCLE_BRANCH}" == "master" ]; then 
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web
                else
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:$CIRCLE_BRANCH-$SHORT_HASH
                fi
      curl_test_viewer_service:
        executor: python
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - run:
              command: sudo apt-get install jq -qq
          - run:
              command: |
                echo $TF_WORKSPACE
                export DNS_PREFIX=$(cat terraform/terraform.tfvars | jq -r ".dns_prefixes.${TF_WORKSPACE}") >> $BASH_ENV
                echo $DNS_PREFIX
                curl -I "https://viewer.${DNS_PREFIX}.opg.service.justice.gov.uk" --fail
      run_behave_suite:
        executor: python
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - install_webdriver
          - run:
              name: install behave
              command: sudo pip3 install behave selenium --upgrade
          - run:
              name: run suite
              command: behave
