version: 2.1

workflows:
  path_to_live:
    jobs:
      # Common tasks
      - use-my-lpa/lint_terraform:
          name: lint_terraform
          workspace: development

      - use-my-lpa/docker_build_viewer_app:
          name: app_viewer_build
      - use-my-lpa/docker_build_viewer_web:
          name: web_viewer_build


      # Provision and test development
      - use-my-lpa/apply_terraform:
          name: dev_apply_terraform
          workspace: development
          requires: [lint_terraform, app_viewer_build, web_viewer_build]
          filters:
            branches:
              ignore: master

      - use-my-lpa/run_behave_suite:
          name: dev_run_behave_tests
          workspace: development
          requires: [dev_apply_terraform]

      # Provision and test preproduction
      - use-my-lpa/apply_terraform:
          name: preprod_apply_terraform
          workspace: preproduction
          requires: [lint_terraform, app_viewer_build, web_viewer_build]
          filters:
            branches:
              only: master

      - use-my-lpa/run_behave_suite:
          name: preprod_run_behave_tests
          workspace: preproduction
          requires: [preprod_apply_terraform]

      # Provision and test production
      - use-my-lpa/apply_terraform:
          name: prod_apply_terraform
          workspace: production
          requires: [preprod_run_behave_tests]
          filters:
            branches:
              only: master

      - use-my-lpa/run_behave_suite:
          name: prod_run_behave_tests
          workspace: production
          requires: [prod_apply_terraform]

orbs:
  use-my-lpa:
    commands:
      install_aws_cli:
        steps:
          - run:
              name: install_aws_cli
              command: sudo pip3 install awscli --upgrade
      install_webdriver:
        steps:
          - run:
              name: install_webdriver
              command: |
                wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
                sudo sh -c 'tar -x geckodriver -zf geckodriver-v0.23.0-linux64.tar.gz -O > /usr/bin/geckodriver'
                sudo chmod +x /usr/bin/geckodriver
                rm geckodriver-v0.23.0-linux64.tar.gz
      ecr_login:
        steps:
          - run:
              name: ecr_login
              command: |
                temp_role=$(aws sts assume-role --role-arn arn:aws:iam::311462405659:role/ci --role-session-name ci)
                export AWS_ACCESS_KEY_ID=$(echo $temp_role | jq .Credentials.AccessKeyId | xargs)
                export AWS_SECRET_ACCESS_KEY=$(echo $temp_role | jq .Credentials.SecretAccessKey | xargs)
                export AWS_SESSION_TOKEN=$(echo $temp_role | jq .Credentials.SessionToken | xargs)
                eval $(aws ecr get-login --no-include-email --region=eu-west-1)

    executors:
      python:
        docker: [image: circleci/python]
      python-browsers:
        docker: [image: circleci/python:3.6-stretch-browsers]
      terraform:
        docker: [image: hashicorp/terraform]

    jobs:
      lint_terraform:
        #
        # Lint the Terraform
        #
        executor: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
          container_version:
            description: Container version
            type: string
            default: ${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
          TF_VAR_container_version: "<<parameters.container_version>>"
        steps:
          - checkout
          - run:
              name: Lint Terraform
              command: |
                cd terraform
                terraform init
                terraform validate

      docker_build_viewer_app:
        #
        # Build Docker container for Viewer App
        #   and runs the Unit Tests.
        #
        executor: python
        environment:
        steps:
          - checkout
          - install_aws_cli
          - setup_remote_docker:
              version: 18.06.0-ce
              docker_layer_caching: false
          - run:
              name: Build
              command: |
                docker-compose build viewer-app
          - run:
              name: Run unit tests
              command: |
                docker run -d --name my-app 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front:latest
                docker exec my-app curl --retry 10 --retry-connrefused http://localhost:8080
          - ecr_login
          - run:
              name: Deploy
              command: |
                export SHORT_HASH=${CIRCLE_SHA1:0:7} >> $BASH_ENV

                # Viewer App
                docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front:$CIRCLE_BRANCH-$SHORT_HASH
                if [ "${CIRCLE_BRANCH}" == "master" ]; then 
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front
                else
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/viewer_front:$CIRCLE_BRANCH-$SHORT_HASH
                fi

      docker_build_viewer_web:
        #
        # Build Docker container for Viewer Web
        #
        executor: python
        environment:
        steps:
          - checkout
          - install_aws_cli
          - setup_remote_docker:
              version: 18.06.0-ce
              docker_layer_caching: false
          - run:
              name: Build
              command: |
                docker-compose build viewer-web
          - ecr_login
          - run:
              name: Deploy
              command: |
                export SHORT_HASH=${CIRCLE_SHA1:0:7} >> $BASH_ENV

                # Viewer Web
                docker tag 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/web:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/web:$CIRCLE_BRANCH-$SHORT_HASH
                if [ "${CIRCLE_BRANCH}" == "master" ]; then
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/web
                else
                  docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_an_lpa/web:$CIRCLE_BRANCH-$SHORT_HASH
                fi

      apply_terraform:
        #
        # Apply the terraform. This:
        #   - Updates any infrastructure; and
        #   - Triggers a deploy of the updated container (if changed)
        #
        executor: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - run:
              name: Apply Terraform
              command: |
                export SHORT_HASH=${CIRCLE_SHA1:0:7} >> $BASH_ENV
                cd terraform
                terraform init
                terraform apply --auto-approve -var container_version=$CIRCLE_BRANCH-$SHORT_HASH

      run_behave_suite:
        #
        # Run the full set of functional tests
        #
        executor: python-browsers
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - install_webdriver
          - run:
              name: install behave
              command: sudo pip3 install behave selenium --upgrade
          - run:
              name: run suite
              command: behave
