version: 2.1

workflows:
  path_to_live:
    jobs:
      - use-my-lpa/lint_terraform:
          name: lint_terraform
          workspace: development
      - use-my-lpa/apply_terraform:
          name: apply_terraform_devlopment
          workspace: development
          requires: [lint_terraform]
          filters:
            branches:
              ignore: master
      - use-my-lpa/apply_terraform:
          name: apply_terraform_preproduction
          workspace: preproduction
          filters:
            branches:
              only: master
      - use-my-lpa/apply_terraform:
          name: apply_terraform_production
          workspace: production
          requires: [apply_terraform_preproduction]
          filters:
            branches:
              only: master
orbs:
  use-my-lpa:
    executors:
      ruby:
        docker: [image: circleci/ruby:latest-browsers]
      terraform:
        docker: [image: hashicorp/terraform]
    commands:
      install_terraform:
        steps:
          - run:
              name: install_terraform
              command: |
                export TERRAFORM_VERSION=0.11.11
                export TERRAFORM_SHA256SUM=94504f4a67bad612b5c8e3a4b7ce6ca2772b3c1559630dfd71e9c519e3d6149c
                curl https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip > terraform_${TERRAFORM_VERSION}_linux_amd64.zip
                echo "${TERRAFORM_SHA256SUM}  terraform_${TERRAFORM_VERSION}_linux_amd64.zip" > terraform_${TERRAFORM_VERSION}_SHA256SUMS
                sha256sum -c --status terraform_${TERRAFORM_VERSION}_SHA256SUMS
                sudo unzip terraform_${TERRAFORM_VERSION}_linux_amd64.zip -d /bin
                rm -f terraform_${TERRAFORM_VERSION}_linux_amd64.zip
    jobs:
      lint_terraform:
        executor: terraform
        working_directory: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - run:
              name: Lint Terraform
              command: |
                terraform init
                terraform validate
      apply_terraform:
        executor: terraform
        working_directory: terraform
        parameters:
          workspace:
            description: Terraform workspace name
            type: string
            default: development
        environment:
          TF_WORKSPACE: "<<parameters.workspace>>"
        steps:
          - checkout
          - run:
              name: Apply Terraform
              command: |
                terraform init
                terraform apply --auto-approve
      docker_build_view:
        steps:
          - checkout
          - setup_remote_docker:
              version: 18.06.0-ce
          - run:
              name: Build
              command: |
                docker-compose build
          - run: |
              name: push
              command: |
                ./docker_login.sh
                docker tag opgusemylpa_viewer-app:latest use_my_lpa/view_lpa_front:latest
                docker tag use_my_lpa/view_lpa_front:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:latest
                docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/view_lpa_front:latest
                docker tag opgusemylpa_viewer-web:latest use_my_lpa/web:latest
                docker tag use_my_lpa/web:latest 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:latest
                docker push 311462405659.dkr.ecr.eu-west-1.amazonaws.com/use_my_lpa/web:latest
