export AWS_ACCOUNT_ID=367815980639
# export AWS_ACCOUNT_ID=690083044361
export AWS_IAM_ROLE=operator
export API_GATEWAY_URL="https://api.dev.sirius.opg.digital/v1/use-an-lpa/lpas/"
export BASE_URL='https://frontend-integration.sirius.opg.digital'
