.lpa-header-alt-1 {
  color: govuk-colour('blue');
}

.lpa-secondary-text-colour {
  color: govuk-colour('dark-grey');
}

button.org-cancel {
  background: none;
  border: none;
  padding: govuk-spacing(0);
  text-decoration: underline;
  cursor: pointer;
}

abbr,
abbr[title] {
  cursor: help;
  text-decoration: none;
}

.offscreen {
  position: absolute;
  left: -999em;
}
.hide {
  display: none;
}
