.moj-ticket-panel {

  .lpa-account-delete {
    color: govuk-colour("red", $variant: "shade-25");
  }

  .moj-badge--red {
    color: govuk-colour("red", $variant: "shade-25");
    border-color: govuk-colour("red", $variant: "shade-25");
  }

  @include govuk-media-query($from: desktop) {

    &__row {
      display: flex;
      justify-content: space-between;

      .lpa-status {
        text-align: right;
      }

      .moj-badge {
        margin-bottom: govuk-spacing(3) !important;
      }

    }

    .lpa-account-delete {
      position: absolute;
      bottom: govuk-spacing(4);
      right: govuk-spacing(4);
    }

  }

}
