.opg-ip {
  .govuk-summary-list + & {
    margin-top: -0.5rem;
    margin-bottom: govuk-spacing(2);
  }

  &__image {
    border: 2px dashed govuk-colour('black');
    max-width: 990px;
    width: 100%;
    height: auto;
  }

  @include govuk-media-query($from: tablet) {
    .govuk-summary-list + & {
      margin-top: -1.5rem;
    }
  }
}
