{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Account activated{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/welsh-switch.html.twig') }}

    <div role="navigation" aria-labelledby="back-link-navigation">
        <a href="{{ path('home') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">{% trans %}Account activated{% endtrans %}</h2>
            </div>

            <div class="govuk-grid-column-one-half">

                <p class="govuk-body">{% trans %}Thank you. We've now activated your account.{% endtrans %}</p>
                <p class="govuk-body">{% trans with {'%link%': path('login')} %}Please <a href="%link%" class="govuk-link">sign in</a>{% endtrans %}</p>
            </div>

        </div>

    </main>
</div>
{% endblock %}
