{% extends '@actor/layout.html.twig' %}

{% block html_title %}Account activation problem - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        <a href="/" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Account activation problem</h2>
                </div>

                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body-l">Sorry, we had a problem activating your account. This could be because:</p>
                    <ul class="list list-bullet">
                        <li>
                            <p class="govuk-body govuk-!-font-weight-bold">You already have an active account</p>
                            <p class="govuk-body">If so, you can sign in to your <a href="{{ url('login') }}">existing Use an LPA account</a> to add an LPA.</p>
                        </li>
                        <li>
                            <p class="govuk-body govuk-!-font-weight-bold">You created the account more than 24 hours ago</p>
                            <p class="govuk-body">You need to activate your account within 24 hours of creating it. If you do not activate it within that time, we'll automatically delete it.</p>
                            <p class="govuk-body">You should return to <a href="{{ url('home') }}">create an account</a> and complete again.</p>
                        </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-full">
                    <p class="govuk-body">If you need more help activating your account, email <a href="mailto:lpa.research@digital.justice.gov.uk ">customerservices@publicguardian.gov.uk</a>.</p>
                </div>
            </div>

        </main>
    </div>
{% endblock %}