{% extends '@actor/layout.html.twig' %}

{% block html_title %}Account activated - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    <a href="/" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">Account activated</h2>

            </div>

            <div class="govuk-grid-column-one-half">

                <p class="govuk-body">Thank you. We've now activated your account.</p>
                <p class="govuk-body">Please <a href="{{ path('login') }}" class="govuk-link">sign in</a></p>
            </div>

        </div>

    </main>
</div>
{% endblock %}
