{% extends '@actor/layout.html.twig' %}

{% block html_title %}Death Notification - {{ parent() }} {% endblock %}

{% block content %}

<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <a href="{{ path('lpa.change-details') }}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Let us know if a donor or attorney dies</h1>

                <p class="govuk-body">
                    It's important that we hold up-to-date information about donors and attorneys.
                    This is because an LPA will end when the donor dies, and they can end if an attorney dies.
                </p>
                <p class="govuk-body">You should contact us if:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the donor dies</li>
                    <li>an attorney dies</li>
                    <li>a replacement attorney dies</li>
                </ul>

                <p class="govuk-body">We'll update the online LPA summary and our records</p>

                <h2 class="govuk-heading-m">If the donor dies</h2>
                <p class="govuk-body">
                    The LPA ends when the donor dies. The donor’s affairs will be looked after
                    by their executors or personal representatives from that point, not their attorneys.
                </p>

                <h2 class="govuk-heading-m">If an attorney or replacement attorney dies</h2>
                <p class="govuk-body">The LPA will end if your attorney dies and there is not a replacement attorney.</p>

                <p class="govuk-body">The LPA can continue if:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>there are other attorneys who can act 'jointly and severally' -
                        but not if they are only allowed to act ‘jointly’</li>
                    <li>there are replacement attorneys</li>
                </ul>

                <h2 class="govuk-heading-m">How to let us know</h2>
                <p class="govuk-body">You'll need to send us:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>a copy of the death certificate</li>
                    <li>the original LPA</li>
                    <li>all certified copies of the LPA</li>
                    <li>a return address where your documents can be sent back to</li>
                </ul>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        Office of the Public Guardian<br>
                        PO Box 16185<br>
                        Birmingham<br>
                        B2 2WH
                    </p>
                </div>
                <p class="govuk-body">
                    <a class="govuk-link" href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a>
                    <br>
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}