{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We've deleted your account{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}We've deleted your account{% endtrans %}</h1>

                    <p class="govuk-body">{% trans with {'%link%': path('home')} %}To use a lasting power of attorney online in future, you’ll need to create a new account.{% endtrans %}</p>

                    <a href="https://www.gov.uk/" draggable="false" class="govuk-button govuk-!-margin-top-4">
                        {% trans %}Back to GOV.UK{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
