{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We cannot change your email address{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}We cannot change your email address{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}The link we sent you to confirm your email address has expired.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}To change your email address, sign back into your account and ask us to change it again.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}You have 48 hours to confirm your email address by using the link we send you.{% endtrans %}</p>

                    <a href="{{ path('login') }}" class="govuk-body govuk-link">{% trans %}Sign in{% endtrans %}</a><br>
                </div>

            </div>
        </main>
    </div>
{% endblock %}
