{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Preferences and Instructions{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back to your LPAs{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% trans %}Preferences and Instructions{% endtrans %}
                    </h1>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        {% trans %}
                            If an <abbr title="lasting power of attorney">LPA</abbr> has preferences or instructions (also known as restrictions and conditions),
                            we show a scanned image in the LPA summary.
                            The scanned image is also shown to anyone you give an access code to. 
                        {% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}
                            You’ll need to show organisations the paper LPA if any part of your preferences and instructions cannot be read properly.
                        {% endtrans %}
                    </p>

                    <p class="govuk-body">
                        {% trans %}
                            Before giving organisations access to the LPA online, check that:
                        {% endtrans %}
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                {% trans %}
                                    the scanned image is readable
                                {% endtrans %}
                            </li>
                            <li>
                                {% trans %}
                                    the preferences and instructions are available to read in full
                                {% endtrans %}
                            </li>
                            <li>
                                {% trans %}
                                    any continuation sheets you used are not missing
                                {% endtrans %}</li>
                            </li>
                        </ul>
                    </p>

                    <details class="govuk-details" data-module="govuk-details" data-gaEventType="onClick" data-gaAction="Details" data-gaCategory="Service Information" data-gaLabel="I do not have the paper LPA">
                        <summary class="govuk-details__summary" role="button">
                            <span class="govuk-details__summary-text">
                                {% trans %}I do not have the paper LPA{% endtrans %}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}When an LPA is registered, we post the LPA to either:{% endtrans %}</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>
                                    {% trans %}
                                        the donor (the person the <abbr title="lasting power of attorney">LPA</abbr> is for)
                                    {% endtrans %}
                                </li>
                                <li>
                                    {% trans %}
                                        one of the attorneys
                                    {% endtrans %}
                                </li>
                                <li>
                                    {% trans %}
                                        someone else, like a solicitor, who helped to fill in the
                                        <abbr title="lasting power of attorney">LPA</abbr> form
                                    {% endtrans %}</li>
                                </li>
                            </ul>
                        <p>
                            {% trans %}
                                Check with these people to see who has the
                                <abbr title="lasting power of attorney">LPA</abbr>.
                            {% endtrans %}</p>
                        <p>
                            {% trans %}
                                If you need more than one copy of the paper
                                <abbr title="lasting power of attorney">LPA</abbr>, the donor or solicitor can make
                                <strong><a href="https://www.gov.uk/power-of-attorney/certify" class="govuk-link">certified copies</a></strong>.
                            {% endtrans %}
                        </p>
                        </div>
                    </details>
                </div>
            </div>
        </main>

    </div>
{% endblock %}
