{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Instructions and preferences{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">{% trans %}Back to your LPAs{% endtrans %}</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% trans %}Instructions and preferences{% endtrans %}
                    </h1>
                </div>

                <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">{% trans %}If an <abbr title="lasting power of attorney">LPA</abbr> has instructions or preferences we cannot show these online. Organisations might ask to see the paper <abbr title="lasting power of attorney">LPA</abbr> so that they can read the instructions and preferences.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}In some older LPA's, instructions and preferences are called 'restrictions and conditions'.{% endtrans %}</p>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
