{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your lasting powers of attorney{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ include('@actor/partials/flash-message.html.twig', {flash_obj: flash, flash_key:'Actor\\Handler\\RemoveLpaHandler::REMOVE_LPA_FLASH_MSG'}) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            {% trans %}Important{% endtrans %}
                          </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <h2 class="govuk-heading-m">{% trans %}We are changing the way you sign in to Use a lasting power of attorney{% endtrans %}</h2>
                            <p class="govuk-body">
                                {% trans %}From 13 August 2024 you will only be able to sign in to your account using GOV.​UK One Login.{% endtrans %}
                                <a href="{{ path('login-notification') }}" class="govuk-link">{% trans %}Read about this change{% endtrans %}</a> {% trans %}and how to get ready for it.{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">{% trans %}Your lasting powers of attorney{% endtrans %}</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body-l">{% trans %}Any lasting power of attorney (LPA) you add to your account will show on this page.{% endtrans %}</p>

                    <p class="govuk-body-m">
                        {% trans with {
                            '%link1_en%': 'https://www.gov.uk/lasting-power-attorney-duties',
                            '%link1_cy%': 'https://www.gov.uk/atwrneiaeth-arhosol',
                            '%link2_en%': 'https://www.gov.uk/make-decisions-for-someone/making-decisions',
                            '%link2_cy%': 'https://www.gov.uk/gwneud-penderfyniadau-dros-rywun/gwneud-penderfyniadau'
                        } %}
                            Find out about <a href="%link1_en%" class="govuk-link">the role of attorney</a> and how they support donors <a href="%link2_en%" class="govuk-link">to make decisions.</a>
                        {% endtrans %}
                    </p>
                    <details class="govuk-details" data-module="govuk-details" data-gaEventType="onClick" data-gaAction="Details" data-gaCategory="Service Information" data-gaLabel="What can I do with this service?">
                        <summary class="govuk-details__summary" role="button" >
                        <span class="govuk-details__summary-text">
                          {% trans %}What can I do with this service?{% endtrans %}
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}Use this service to:{% endtrans %}</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>{% trans %}give organisations access to an online summary of an <abbr title="lasting power of attorney">LPA</abbr> by making a secure access code{% endtrans %}</li>
                                <li>{% trans %}keep track of the organisations that have online access to an <abbr title="lasting power of attorney">LPA</abbr>{% endtrans %}</li>
                                <li>{% trans %}view an <abbr title="lasting power of attorney">LPA</abbr> summary{% endtrans %}, including a scanned image of the instructions and preferences if there are any</li>
                                <li>{% trans %}ask for an activation key if you have not been given one - or it has expired{% endtrans %}</li>
                            </ul>
                        </div>
                    </details>

                    <a href="{{ path('lpa.add') }}" draggable="false" class="govuk-button">
                        {% trans %}Add your first LPA{% endtrans %}
                    </a>

                </div>
            </div>

        </main>
    </div>
{% endblock %}
