{% extends '@actor/layout.html.twig' %}

{% block html_title %}Add a lasting power of attorney - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Your lasting power of attorneys</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">Any lasting power of attorney (LPA) you add to your account will appear on this page.</p>
                <details class="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-f88e0d79-07a2-4e97-b620-b5ddbfa33dc3" aria-expanded="false">
                        <span class="govuk-details__summary-text">
                          What can I do with my LPAs?
                        </span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-f88e0d79-07a2-4e97-b620-b5ddbfa33dc3" aria-hidden="true">
                        <p>From this page you can:</p>
                        <ul class="govuk-list--bullet">
                            <li>give organisations access to an online summary of this LPA by making a secure access code</li>
                            <li>keep track of which organisations have been given online access to the LPA</li>
                            <li>view the LPA summary</li>
                        </ul>
                    </div>
                </details>

                <a href="add-details" role="button" draggable="false" class="govuk-button govuk-button">
                    Add another LPA
                </a>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {% for lpaData in lpas %}
                    {% set lpa = lpaData.lpa %}
                    {{ include('@actor/partials/lpa-details.html.twig') }}
                {% endfor %}

            </div>
        </div>

    </main>
</div>
{% endblock %}
