{% extends '@actor/layout.html.twig' %}

{% block html_title %}Your lasting power of attorneys {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">Your lasting powers of attorney</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body-l">Any lasting power of attorney (LPA) you add to your account will show on this page.</p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          What can I do with my LPAs?
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>From this page you can:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>give organisations access to an online summary of an LPA by making a secure access code</li>
                                <li>keep track of the organisations that have online access to an LPA</li>
                                <li>view an LPA summary</li>
                            </ul>
                        </div>
                    </details>

                    <a href="{{ path('lpa.add') }}" draggable="false" class="govuk-button">
                        Add your first LPA
                    </a>

                </div>
            </div>

        </main>
    </div>
{% endblock %}
