{% extends '@actor/layout.html.twig' %}

{% block html_title %}Add a lasting power of attorney - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">Your lasting power of attorneys</h1>
                </div>
            </div>

        </main>
    </div>
{% endblock %}
