{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We cannot change your password{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('login') }}" class="govuk-back-link">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}We cannot change your password{% endtrans %}</h1>

                    <p class="govuk-body-l">{% trans %}The link you have clicked on is invalid or has expired.{% endtrans %}</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
