{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We cannot change your password{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('login') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">{% trans %}We cannot change your password{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}The link you've clicked on is invalid or has expired.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}Password reset links expire after 24 hours or if you ask us to reset your password again.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If you've asked for a password reset more than once, make sure you clicked on the link in the most recent password reset email.{% endtrans %}</p>
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
