{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Settings{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl">{% trans %}Settings{% endtrans %}</h1>

                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">{% trans %}Your sign-in details{% endtrans %}</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <p class="govuk-body">{% trans %}You use GOV.UK One Login to sign in to the Use a lasting power of attorney service.{% endtrans %}</p>
                            <p class="govuk-body">{% trans %}You can change these details in your GOV.UK One Login:{% endtrans %}</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>{% trans %}e-mail address{% endtrans %}</li>
                                <li>{% trans %}password{% endtrans %}</li>
                                <li>{% trans %}how you get security codes to sign in{% endtrans %}</li>
                            </ul>
                            <p class="govuk-body">
                            <a href="https://home.account.gov.uk/security" target="_blank" class="govuk-link" id="govuk-settings-link">
                                {% trans %}Change your sign-in details in your GOV.UK One Login{% endtrans %}
                            </a>
                            </p>
                        </div>
                    </div>

                    <div class="govuk-summary-card govuk-!-margin-top-2">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">{% trans %}Delete your Use a lasting power of attorney account{% endtrans %}</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <p class="govuk-body">{% trans %}If you no longer use your Use a lasting power of attorney account, you can delete it.{% endtrans %}</p>
                            <p class="govuk-body">
                            <a href="{{ path('confirm-delete-account') }}" class="govuk-link" id="delete-account-link">
                                {% trans %}Find out more about deleting your account{% endtrans %}
                            </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
{% endblock %}