{% extends '@actor/layout.html.twig' %}

{% block html_title %}LPA Summary {{ parent() }} {% endblock %}

{% block content %}

<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <a href="/lpa/check" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <span class="govuk-caption-l">Property and Finance</span>
                <h1 class="govuk-heading-l">Nicholas Brown</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" style="padding-bottom: 20px; border-bottom: 1px solid lightgray; margin-bottom: 30px">
                <a href="#" class="govuk-body" style="margin-right: 20px">Give an organisation access</a>
                <a href="#" class="govuk-body" style="margin-right: 20px">Check access codes</a>
                <a href="#" class="govuk-body" style="margin-right: 20px">View LPA summary</a>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl" style="margin-bottom: 50px">LPA summary</h1>
            </div>
        </div>

    </main>
</div>


{% endblock %}