<div class="govuk-notification-banner govuk-notification-banner--pagetop" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            {% trans %}We are currently having problems showing LPA summaries for LPAs with preferences and
                instructions. Those without are working as expected. We are looking into the problem as a matter of
                urgency and hope to have the full service back up shortly.{% endtrans %}
        </p>
    </div>
</div>
