version: "3.6"

services:
    webpack:
        container_name: admin-webpack
        image: node:24-alpine@sha256:682368d8253e0c3364b803956085c456a612d738bd635926d73fa24db3ce53d7
        working_dir: /app
        entrypoint: |
            sh -c "npm i && npm run build"
        volumes:
            - .:/app:rw,delegated

    # This definition runs a continuous build process that monitors
    # golang files for changes and rebuilds/runs. This is disabled
    # by default as the prefered way is to use your IDE to run it
    #
    # admin:
    #     container_name: admin-app
    #     image: golang:1.16.4
    #     working_dir: /app
    #     entrypoint: |
    #         bash -c '\
    #             go get github.com/cespare/reflex
    #             go mod download
    #             reflex -s -r "\.go" go run cmd/admin/main.go
    #         '
    #     volumes:
    #         - .:/app
    #     ports:
    #         - 9005:9005
