{{ template "default" . }}

{{ define "title" }}Internal Server Error{{ end }}

{{ define "main" }}
  <h1 class="govuk-heading-xl">Internal Server Error</h1>
  <p class="govuk-body">There has been an error processing your request please try again later.</p>
{{ end }}
