{{ template "default" . }}

{{ define "title" }}Not Authorised{{ end }}

{{ define "main" }}
  <h1 class="govuk-heading-xl">Not Authorised</h1>
  <p class="govuk-body">You are not authorised to access this resource.</p>
{{ end }}
