{{ template "default" . }}

{{ define "title" }}Not Found{{ end }}

{{ define "main" }}
  <h1 class="govuk-heading-xl">Not Found</h1>
  <p class="govuk-body">We were not able to find a file at this location.</p>
{{ end }}
