{{ template "default" . }}

{{ define "title" }}Measuring Impact{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Measuring Impact</h1>
      <p class="govuk-body">USE LPA Statistics</p>
    </div>
  </div>
{{ end }}