{{ template "page" . }}

{{ define "title" }}Hello{{ end }}

{{ define "main" }}
  <h1>Hello {{ .Name }}</h1>

  <form method="post">
    <label>Username</label>
    <input name="username">
    <button type="submit">Login</button>
  </form>
{{ end }}
