{% extends '@viewer/layout.html.twig' %}

{% block page_title %}{% trans %}Paper verification code cancelled{% endtrans %}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}The paper verification code you entered has been cancelled{% endtrans %}</h1>

                    <p class="govuk-body">
                        {% trans %}
                            To view this <abbr title="lasting power of attorney">LPA</abbr>, ask the person you’re dealing with for a new one. If needed, they can
                            request a new paper verification code from the Office of the Public Guardian.
                        {% endtrans %}
                    </p>

                    <p class="govuk-body">
                        {% trans %}
                            If they’re now using the <abbr title="lasting power of attorney">LPA</abbr> online, they’ll be able to make an access code for you to use instead.
                        {% endtrans %}
                    </p>

                    <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        {% trans %}Enter another code{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
