{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}LPA Summary{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}LPA Summary Placeholder{% endtrans %}</h1>

                </div>
            </div>
        </main>
    </div>
{% endblock %}
