.govuk-panel {
  &--confirmation {
    padding: 35px;
    border: 5px solid transparent;
    margin-bottom: 30px;
  }

  &--failed {
    color: #fff;
    background: #b10e1e;
    padding: 35px;
    border: 5px solid transparent;
    margin-bottom: 30px;
  }

  &__body {
    margin-bottom: 20px;
  }
}
