.govuk-panel {
  &--confirmation {
    padding: govuk-spacing(7);
    border: govuk-spacing(1) solid transparent;
    margin-bottom: govuk-spacing(6);
    background: govuk-colour('dark-grey');
  }

  &--failed {
    color: govuk-colour('white');
    background: govuk-colour('red');
    padding: govuk-spacing(7);
    border: govuk-spacing(1) solid transparent;
    margin-bottom: govuk-spacing(6);
  }

  &__body {
    margin-bottom: govuk-spacing(4);
  }
}
