.moj-ticket-panel {

  .lpa-account-delete {
    color: govuk-colour('red');
  }

  @include govuk-media-query($from: tablet) {
    .moj-badge {
      position: absolute;
      top: govuk-spacing(4);
      right: govuk-spacing(4);
    }

    .lpa-account-delete {
      position: absolute;
      bottom: govuk-spacing(4);
      right: govuk-spacing(4);
    }
  }

}
