.dialog-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.dialog {
  z-index: 3;
  background-color: #fff;
  padding: 30px;
  text-align: left;
  width: 90%;
  max-width: 400px;
  position: fixed;
  border: 5px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.dialog-overlay[aria-hidden="true"],
.dialog[aria-hidden="true"] {
  display: none;
}

.dialog-overlay:not([aria-hidden="true"]),
.dialog:not([aria-hidden="true"]) {
  display: block;
}