.lpa-added-flash__box {
  border:  govuk-spacing(1) solid govuk-colour('green');
  padding: 10px;
  margin-bottom: 30px;
}

.lpa-added-flash__message {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px 0px;
}

.lpa-added-flash__icon {
  fill: #00703c;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
