.lpa-border {
  border:  5px solid #006435;
  margin: 0px 0px 30px 0px;
  padding: 5px
}

.column-full-alt-1 {
  padding: 0px
}

.heading-m-alt-1 {
  margin-bottom: 10px
}

.body-alt-1 {
  margin-bottom: 0px
}
