.lpa-header-alt-1 {
  color: #005ea5;
}

.lpa-account-delete {
  color: #d4351c;

}

.lpa-secondary-text-colour {
  color: #626a6e;
}

button.org-cancel {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
