.lpa-valid-border {
  border:  govuk-spacing(1) solid govuk-colour('green');
  margin: govuk-spacing(0) govuk-spacing(0) govuk-spacing(6) govuk-spacing(0);
  padding: 10px
}

.lpa-cancelled-border {
  border:  govuk-spacing(1) solid govuk-colour('red');
  margin: govuk-spacing(0) govuk-spacing(0) govuk-spacing(6) govuk-spacing(0);
  padding: govuk-spacing(2)
}

.column-full-alt-1 {
  padding: govuk-spacing(0)
}

.heading-m-alt-1 {
  margin-bottom: govuk-spacing(2)
}

.body-alt-1 {
  margin-bottom: govuk-spacing(0)
}



