.signin {
    border-bottom: 1px solid govuk-colour('mid-grey');
    padding-bottom: govuk-spacing(2);
    padding-top: govuk-spacing(2);
    margin: govuk-spacing(0) auto;

    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }

    p {
        float: left;
        padding: govuk-spacing(0);
        margin: govuk-spacing(0);
    }

    > .navigation {
        float: none;
        clear: both;
        margin: govuk-spacing(0);
        padding: govuk-spacing(0);

        > ul {
            margin: govuk-spacing(0);
            padding: govuk-spacing(0);

            > li {
                list-style-position: inside;
                list-style-type: none;
                display: inline;
                margin-left: govuk-spacing(0);
                margin-right: govuk-spacing(2);
            }
        }

        @media screen and (min-width: 769px) {
            float: right;
            clear: none;

            > li {
                margin-right: govuk-spacing(0);
                margin-left: govuk-spacing(2);
            }
        }
    }
}
