.signin {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
}

.signin::before,
.signin::after {
    content: "";
    display: table;
}

.signin::after {
    clear: both;
}

.signin p {
    float: left;
    padding: 0;
    margin: 0;
}

.signin .navigation {
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.signin .navigation li {
    list-style-position: inside;
    list-style-type: none;
    display: inline;
    margin-left: 0;
    margin-right: 10px;
}

@media screen and (min-width: 769px) {
    .signin .navigation {
        float: right;
        clear: none;
    }

    .signin .navigation li {
        margin-right: 0;
        margin-left: 10px;
    }
}
