.lpa-flash {
  &__box {
    border: govuk-spacing(1) solid govuk-colour('green');
    padding: 10px;
    margin-bottom: 30px;
  }

  &__message {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 0px;
  }

  &__icon {
    fill: govuk-colour("green");
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
}
