.trans-switch {
  overflow: auto;
  display: inline;

  &__list {
    display: inline;

    &:after {
      padding: 0 5px;
      content: " | ";
    }

    &:last-child:after {
      padding-right: 0;
      content: none;
    }
  }

  &__container {
    float: right;
  }
}
