.trans-switch {
  overflow: auto;
  display: inline;
  &__list {
    display: inline;
  }

  &__partition {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__container {
    float: right;
  }
}
