$govuk-include-default-font-face: false;
$govuk-page-width: 960px;
$moj-page-width: 960px;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
