{% extends '@viewer/layout.html.twig' %}

{% block html_title %}Access code expired - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">The access code you entered has expired</h1>

                    <p class="govuk-body">Access codes expire 30 days after they’re made.</p> <br>
                    <p class="govuk-body">To see this LPA, ask the donor or attorney you’re dealing with to make a new code.</p>

                    <a href="{{ path('enter-code') }}" role="button" draggable="false" class="govuk-button">
                        Enter another code
                    </a>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
