{% extends '@viewer/layout.html.twig' %}

{% block html_title %}Access code cancelled - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">The access code you entered has been cancelled</h1>

                    <p class="govuk-body">To see this LPA, ask the donor or attorney you’re dealing with to make a new code.</p>

                    <a href="{{ path('enter-code') }}" class="govuk-link">
                        Enter another code
                    </a>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
