{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}We could not find an LPA{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}We could not find an LPA matching those details{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}Please check the code and the spelling of the donor's last name{% endtrans %}</p>

                    <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button">
                        {% trans %}Try again{% endtrans %}
                    </a>
                    
                </div>
            </div>
        </main>
        {{ include('@viewer/new-view-service.html.twig') }}
    </div>
{% endblock %}
