{% extends '@viewer/layout.html.twig' %}

{% block title %}Code Expired{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">Expired Code</h1>

                    <p class="govuk-body">The code that you entered has expired.</p>

                    <a href="/enter-code" role="button" draggable="false" class="govuk-button govuk-button--start">
                        Try again
                    </a>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
