{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}Preferences and instructions cannot be shown for this LPA{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@viewer/new-view-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% trans %}Preferences and instructions cannot be shown for this LPA{% endtrans %}
                    </h1>
                </div>

                <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">{% trans %}Unfortunately, some information on instructions and preferences is missing from this service. This affects LPAs the donor signed before 2016.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}We are working to fix this problem.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}In the meantime, organisations may ask to see the paper LPA so that they can check if there are instructions or preferences.{% endtrans %}</p>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
