{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}LPA summary{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    {% include '@partials/full-lpa-display.html.twig' with {'forDownload': false} %}


    <div class="govuk-width-container">
        <p class="govuk-body">
            {% trans with {'{link}': 'https://eu.surveymonkey.com/r/ViewLPA'} %}
                Your <a class="govuk-link" href="{link}" target="_blank">feedback</a> will help us to improve
            {% endtrans %}
        </p>
    </div>

{% endblock %}
