{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}LPA summary{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    {% include '@partials/full-lpa-display.html.twig' with {'forDownload': false} %}


    <div class="govuk-width-container">
        <p class="govuk-body">
            <a class="govuk-link" href="https://eu.surveymonkey.com/r/ViewSatisfactionScore">{% trans %} Give us feedback about this service {% endtrans %}</a>
        </p>
    </div>

{% endblock %}
