<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link govuk-link" {% if path() == path('lpa.create-code') %} aria-current="page" {% endif %} href="{{ path('lpa.create-code', {}, {'lpa':  actorToken }) }}">
                        {% trans %}Give an organisation access{% endtrans %}
                    </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link govuk-link" {% if path() == path('lpa.access-codes') %} aria-current="page" {% endif %} href="{{ path('lpa.access-codes', {}, {'lpa': actorToken }) }}">
                        {% trans %}Check access codes{% endtrans %}
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link govuk-link" {% if path() == path('lpa.view') %} aria-current="page" {% endif %} href="{{ path('lpa.view', {}, {'lpa': actorToken }) }}">
                        {% trans %}View LPA summary{% endtrans %}
                    </a>
                </li>
            </ul>

        </nav>

    </div>
</div>
