{% if not is_donor_signature_date_too_old(lpa) and actorActive and lpa.applicationHasRestrictions and not lpa.applicationHasGuidance %}
    <p class="govuk-body govuk-!-margin-bottom-1">
        {% trans %}
            <strong>Important: </strong>This LPA has instructions.<br>
        {% endtrans %}
        {% if not feature_enabled('instructions_and_preferences') %}
            {% trans %}
                You might need to show organisations the paper LPA.
            {% endtrans %}
        {% endif %}
        <a class="govuk-link" href="{{ path('lpa.instructions-preferences') }}"
           data-gaEventType="onClick"
           data-gaAction="Clicked Link"
           data-gaCategory="Read More"
           data-gaLabel="Read More - instructions and preferences"
        > {% trans %}Read more{% endtrans %}</a>
    </p>
{% endif %}
{% if not is_donor_signature_date_too_old(lpa) and actorActive and lpa.applicationHasGuidance and not lpa.applicationHasRestrictions %}
    <p class="govuk-body govuk-!-margin-bottom-1">
        {% trans %}
            <strong>Important: </strong>This LPA has preferences.<br>
        {% endtrans %}
        {% if not feature_enabled('instructions_and_preferences') %}
            {% trans %}
                You might need to show organisations the paper LPA.
            {% endtrans %}
        {% endif %}
        <a class="govuk-link" href="{{ path('lpa.instructions-preferences') }}"
           data-gaEventType="onClick"
           data-gaAction="Clicked Link"
           data-gaCategory="Read More"
           data-gaLabel="Read More - instructions and preferences"
        > {% trans %}Read more{% endtrans %}</a>
    </p>
{% endif %}
{% if not is_donor_signature_date_too_old(lpa) and actorActive and lpa.applicationHasRestrictions and lpa.applicationHasGuidance %}
    <p class="govuk-body govuk-!-margin-bottom-1">
        {% trans %}
            <strong>Important: </strong>This LPA has instructions and preferences.<br>
        {% endtrans %}
        {% if not feature_enabled('instructions_and_preferences') %}
            {% trans %}
                You might need to show organisations the paper LPA.
            {% endtrans %}
        {% endif %}
        <a class="govuk-link" href="{{ path('lpa.instructions-preferences') }}"
           data-gaEventType="onClick"
           data-gaAction="Clicked Link"
           data-gaCategory="Read More"
           data-gaLabel="Read More - instructions and preferences"
        > {% trans %}Read more{% endtrans %}</a>
    </p>
{% endif %}
{% if actorActive and is_donor_signature_date_too_old(lpa) and (lpa.applicationHasRestrictions or lpa.applicationHasGuidance) %}
    <p class="govuk-body govuk-!-margin-bottom-1">
        {% trans %}
            <strong>Important: </strong>This LPA has instructions and/or preferences.<br>
        {% endtrans %}
        {% if not feature_enabled('instructions_and_preferences') %}
            {% trans %}
                You might need to show organisations the paper LPA.
            {% endtrans %}
        {% endif %}
        <a class="govuk-link" href="{{ path('lpa.instructions-preferences') }}"
           data-gaEventType="onClick"
           data-gaAction="Clicked Link"
           data-gaCategory="Read More"
           data-gaLabel="Read More - instructions and preferences"
        > {% trans %}Read more{% endtrans %}</a>
    </p>
{% endif %}