<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <nav class="moj-sub-navigation govuk-!-margin-top-3" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}">
                        Give an organisation access
                    </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="/use-lpa//lpa/current-codes">
                        Check access codes
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="/use-lpa//lpa/lpa-detail">
                        View LPA summary
                    </a>
                </li>
            </ul>

        </nav>

    </div>
</div>