<div class="govuk-notification-banner govuk-notification-banner--pagetop" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
        {% if feature_enabled('allow_older_lpas') %}
            {% trans %}You can only use this service if your LPA was registered on or after 1 January 2016.{% endtrans %}
        {% else %}
            {% trans %}You can only use this service if your LPA was registered on or after 1 September 2019.{% endtrans %}
        {%  endif %}
        </p>
    </div>
</div>
