<div class="govuk-phase-banner" role="complementary">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            {% trans %}beta{% endtrans %}
        </strong>
        <span class="govuk-phase-banner__text">
            {% trans %}This is a new service – your
            <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/Use-LPA" target="_blank">feedback</a> will help us to improve it.{% endtrans %}
        </span>
    </p>
</div>
