<div class="govuk-notification-banner govuk-notification-banner--pagetop" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            {% trans %}This service currently can not show LPA summaries where there are instructions or preferences. We apologise for any inconvenience this may cause and are working to get this up and running again as soon as possible.{% endtrans %}
        </p>
        <p class="govuk-body">{% trans %}If you need to use your lasting power of attorney during this time you can still use the paper LPA document.{% endtrans %}</p>
    </div>
</div>
