<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <div>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            {% trans %}This service will be unavailable between 9pm on Friday 31st March 2023 and 9:30am on Saturday 1st April 2023.{% endtrans %}
            </strong>
    </div>
    <div class="govuk-warning-text__text">
        <p class="govuk-body">{% trans %}If you need to use your lasting power of attorney during this time you can still use the paper LPA document.{% endtrans %}</p>
    </div>
</div>