name: "[Docker] Build and Push Images"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch doing the build"
        required: true
        type: string
      tag:
        description: "Tag for docker image"
        required: false
        default: "latest"
        type: string
      push_to_ecr:
        description: "Whether to push to ECR"
        required: false
        default: "true"
        type: string
      specific_path:
        description: "Build on a specific path"
        required: false
        default: "all"
        type: string
    outputs:
      matrix_job_names:
        value: ${{ jobs.docker_build_scan_push.outputs.matrix_job_names }}

jobs:
  docker_build_scan_push:
    runs-on: ubuntu-latest
    outputs:
      matrix_job_names: ${{ steps.output_names.outputs.MATRIX_JOB_NAMES }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - svc_prefix: "front"
            svc_suffix: "app"
            build_development_docker: "true"
            run_unit_tests: "true"
            run_integration_tests: "true"
            artifact_to_dl: "dist-web"
            path_to_docker_file: "service-front/docker/app/Dockerfile"
            path_to_trivyignore_file: "service-front/docker/app/.trivyignore.yaml"
          - svc_prefix: "front"
            svc_suffix: "web"
            build_development_docker: "false"
            run_unit_tests: "false"
            run_integration_tests: "false"
            artifact_to_dl: "dist-web"
            path_to_docker_file: "service-front/docker/web/Dockerfile"
            path_to_trivyignore_file: "service-front/docker/web/.trivyignore.yaml"
          - svc_prefix: "api"
            svc_suffix: "app"
            build_development_docker: "true"
            run_unit_tests: "true"
            run_integration_tests: "true"
            artifact_to_dl: ""
            path_to_docker_file: "service-api/docker/app/Dockerfile"
            path_to_trivyignore_file: "service-api/docker/app/.trivyignore.yaml"
          - svc_prefix: "api"
            svc_suffix: "web"
            build_development_docker: "false"
            run_unit_tests: "false"
            run_integration_tests: "false"
            artifact_to_dl: ""
            path_to_docker_file: "service-api/docker/web/Dockerfile"
            path_to_trivyignore_file: "service-api/docker/web/.trivyignore.yaml"
          - svc_prefix: "admin"
            svc_suffix: "app"
            build_development_docker: "false"
            run_unit_tests: "true"
            run_integration_tests: "false"
            artifact_to_dl: ""
            path_to_docker_file: "service-admin/Dockerfile"
            path_to_trivyignore_file: "service-admin/.trivyignore.yaml"
          - svc_prefix: "stats_upload"
            svc_suffix: "lambda"
            build_development_docker: "false"
            run_unit_tests: "true"
            run_integration_tests: "false"
            artifact_to_dl: ""
            path_to_docker_file: "lambda-functions/upload-statistics/Dockerfile"
            path_to_trivyignore_file: "lambda-functions/upload-statistics/.trivyignore.yaml"
          - svc_prefix: "event"
            svc_suffix: "receiver"
            build_development_docker: "false"
            run_unit_tests: "true"
            run_integration_tests: "false"
            artifact_to_dl: ""
            path_to_docker_file: "lambda-functions/event-receiver/Dockerfile"
            path_to_trivyignore_file: "lambda-functions/event-receiver/.trivyignore.yaml"
          - svc_prefix: "backfill"
            svc_suffix: "lambda"
            build_development_docker: "false"
            run_unit_tests: "false"
            run_integration_tests: "false"
            artifact_to_dl: ""
            path_to_docker_file: "lambda-functions/backfill/Dockerfile"
            path_to_trivyignore_file: "lambda-functions/backfill/.trivyignore.yaml"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: hadolint/hadolint-action@3fc49fb50d59c6ab7917a2e4195dba633e515b29 # v3.2.0
        id: hadolint
        with:
          dockerfile: ${{ matrix.path_to_docker_file }}
          no-fail: false
          failure-threshold: warning
          verbose: true

      - name: cache node modules
        id: cache-npm
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          cache-name: cache-node-modules
        with:
          path: ./service-front/web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**service-front/web/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
        if: |
          matrix.svc_prefix == 'front' &&
          inputs.specific_path == 'all'

      - uses: unfor19/install-aws-cli-action@e8b481e524a99f37fbd39fdc1dcb3341ab091367 # v1.0.7
        if: |
          inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::311462405659:role/opg-use-an-lpa-ci
          role-duration-seconds: 1800
          role-session-name: OPGUseAnLPAECRGithubAction
        if: |
          inputs.push_to_ecr == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: ecr login
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659
        if: |
          inputs.push_to_ecr == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ matrix.artifact_to_dl }}
          path: service-${{ matrix.svc_prefix }}/web/dist
        if: |
          matrix.artifact_to_dl != '' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: docker build development target
        env:
          SVC_PREFIX: ${{ matrix.svc_prefix }}
        run: |
          if [ ${SVC_PREFIX} == "front" ]; then
            mkdir -p service-${SVC_PREFIX}/app/assets/stylesheets
            cp -R ./service-${SVC_PREFIX}/web/dist/stylesheets/pdf.css service-${SVC_PREFIX}/app/assets/stylesheets/pdf.css
          fi
          docker build --target development --file service-${SVC_PREFIX}/docker/app/Dockerfile --tag ${SVC_PREFIX}-app:latest .
        if: |
          matrix.build_development_docker == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: install python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"

      - name: docker unit tests
        env:
          SVC_PREFIX: ${{ matrix.svc_prefix }}
        run: |
          if [ ${SVC_PREFIX} == 'admin' ]; then
            mkdir -p build/service-${SVC_PREFIX}
            cd service-${SVC_PREFIX}/
            go test -race -coverpkg ./... -coverprofile=../build/service-${SVC_PREFIX}/coverage.out -covermode=atomic ./...
          elif [ ${SVC_PREFIX} == 'stats_upload' ]; then
            mkdir -p build/service-${SVC_PREFIX}
            cd lambda-functions/upload-statistics/app
            pip install -r ../requirements-tests.txt
            python -m unittest -v
          elif [ ${SVC_PREFIX} == 'event' ]; then
            mkdir -p build/service-${SVC_PREFIX}
            cd lambda-functions/${SVC_PREFIX}-receiver/app
            go mod tidy
            go test
          elif [ ${SVC_PREFIX} == 'api' ]; then
            docker run -d --name tests api-app:latest

            docker exec tests /usr/bin/composer install --prefer-dist --no-interaction --no-scripts --optimize-autoloader
            docker exec tests docker-php-ext-enable xdebug
            docker exec tests /usr/local/bin/php -dapc.enable_cli=1 -dxdebug.mode=coverage /app/vendor/bin/phpunit

            mkdir -p build/service-${SVC_PREFIX}
            docker cp tests:/app/build/pacts build/service-${SVC_PREFIX}/pacts
          else
            docker run -d --name tests ${SVC_PREFIX}-app:latest
            docker exec tests /usr/bin/composer install --prefer-dist --no-interaction --no-scripts --optimize-autoloader
            docker exec tests docker-php-ext-enable xdebug
            docker exec tests /usr/local/bin/php -dxdebug.mode=coverage /app/vendor/bin/phpunit --testsuite unit
          fi
        if: |
          matrix.run_unit_tests == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: docker integration and acceptance tests
        env:
          SVC_PREFIX: ${{ matrix.svc_prefix }}
        run: |
          if [[ "${SVC_PREFIX}" = "api" ]]; then
           docker run -d --name behattests api-app:latest

            docker exec behattests /usr/bin/composer install --prefer-dist --no-interaction --no-scripts --optimize-autoloader
            docker exec behattests /app/vendor/bin/behat -p integration -f progress -o std -f junit -o /app/build/reports/int
            docker exec behattests /usr/local/bin/php -dapc.enable_cli=1 /app/vendor/bin/behat -p acceptance -f progress -o std -f junit -o /app/build/reports/acc
          elif [[ "${SVC_PREFIX}" = "front" ]]; then
            docker run -d --name behattests front-app:latest

            docker exec behattests /usr/bin/composer install --prefer-dist --no-interaction --no-scripts --optimize-autoloader
            docker exec behattests /app/vendor/bin/behat -p integration -f progress -o std -f junit -o /app/build/reports/int
            docker exec behattests /usr/local/bin/php -dapc.enable_cli=1 -d memory_limit=-1 /app/vendor/bin/behat -p acceptance -f progress -o std -f junit -o /app/build/reports/acc
          fi
        if: |
          matrix.run_integration_tests == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: fetch test results
        env:
          SVC_PREFIX: ${{ matrix.svc_prefix }}
        run: |
          mkdir -p build/service-${SVC_PREFIX}
          docker cp tests:/app/build/reports build/service-${SVC_PREFIX}/phpunit
          docker cp behattests:/app/build/reports build/service-${SVC_PREFIX}/behat
        if: |
          (success() || failure()) && contains(fromJson('["front", "api"]'), matrix.svc_prefix) &&
          matrix.svc_suffix == 'app' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: archive test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: service-${{ matrix.svc_prefix }}
          path: build/service-${{ matrix.svc_prefix }}
        if: |
          (success() || failure()) && contains(fromJson('["front", "api", "admin", "event"]'), matrix.svc_prefix) &&
          matrix.svc_suffix == 'app' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: build image for production
        env:
          SVC_PREFIX: ${{ matrix.svc_prefix }}
          SVC_SUFFIX: ${{ matrix.svc_suffix }}
          PATH_TO_DOCKER_FILE: ${{ matrix.path_to_docker_file }}
        run: |
          if [[ "${SVC_SUFFIX}" = "app" ]]; then
            if [[ "${SVC_PREFIX}" = "front" ]]; then
              mkdir -p service-front/app/assets/stylesheets
              cp -R ./service-front/web/dist/stylesheets/pdf.css service-front/app/assets/stylesheets/pdf.css
            fi

            if [[ "${SVC_PREFIX}" = "admin" ]]; then
              docker build --target production --file service-${SVC_PREFIX}/Dockerfile --tag ${SVC_PREFIX}_app:latest service-${SVC_PREFIX}/
            else
              docker build --target production --file service-${SVC_PREFIX}/docker/app/Dockerfile --tag ${SVC_PREFIX}_app:latest .
            fi

          elif [[ "${SVC_SUFFIX}" = "web" ]]; then
            if [[ "${SVC_PREFIX}" = "front" ]]; then
              cp -R ./service-front/web/dist/* service-front/docker/web/web/
            fi

            docker build --file service-${SVC_PREFIX}/docker/web/Dockerfile --tag ${SVC_PREFIX}_web:latest .

          elif [[ "${SVC_PREFIX}" = "stats_upload" ]]; then
            docker build --platform linux/amd64 --provenance=false --file lambda-functions/upload-statistics/Dockerfile --tag stats_upload_lambda:latest lambda-functions/upload-statistics
          elif [[ "${SVC_PREFIX}" = "event" ]]; then
            if [[ "${SVC_SUFFIX}" = "receiver" ]]; then
              docker build --platform linux/amd64 --provenance=false --file lambda-functions/${SVC_PREFIX}-${SVC_SUFFIX}/Dockerfile --tag ${SVC_PREFIX}_${SVC_SUFFIX}:latest lambda-functions/${SVC_PREFIX}-${SVC_SUFFIX}
            fi
          elif [[ "${SVC_PREFIX}" = "backfill" ]]; then
            if [[ "${SVC_SUFFIX}" = "lambda" ]]; then
              docker build --platform linux/amd64 --provenance=false --file ${PATH_TO_DOCKER_FILE} --tag ${SVC_PREFIX}_${SVC_SUFFIX}:latest lambda-functions/backfill
            fi
          fi
        if: (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: Trivy Image Vulnerability Scanner
        if: (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)
        id: trivy_scan
        run: |
          mkdir -p -m 0777 .trivy-cache ./test-results/
          docker run \
            --volume /var/run/docker.sock:/var/run/docker.sock \
            --volume ./.trivy-cache:/root/.cache \
            --volume ./test-results:/test-results \
            --volume ./${{ matrix.path_to_trivyignore_file }}:/.trivyignore.yaml \
            --env TRIVY_IGNOREFILE='.trivyignore.yaml' \
            --env TRIVY_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2 \
            --env TRIVY_JAVA_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1 \
            --env TRIVY_USERNAME=${{ steps.login_ecr.outputs.docker_username_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            --env TRIVY_PASSWORD=${{ steps.login_ecr.outputs.docker_password_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            aquasec/trivy:0.65.0 image \
            ${{ matrix.svc_prefix }}_${{ matrix.svc_suffix }}:latest \
            --timeout 10m0s \
            --format table \
            --severity HIGH,CRITICAL

          docker run \
            --volume /var/run/docker.sock:/var/run/docker.sock \
            --volume ./.trivy-cache:/root/.cache \
            --volume ./test-results:/test-results \
            --volume ./${{ matrix.path_to_trivyignore_file }}:/.trivyignore.yaml \
            --env TRIVY_IGNOREFILE='.trivyignore.yaml' \
            --env TRIVY_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2 \
            --env TRIVY_JAVA_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1 \
            --env TRIVY_USERNAME=${{ steps.login_ecr.outputs.docker_username_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            --env TRIVY_PASSWORD=${{ steps.login_ecr.outputs.docker_password_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            aquasec/trivy:0.65.0 image ${{ matrix.svc_prefix }}_${{ matrix.svc_suffix }}:latest \
            --timeout 10m0s \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            --format sarif --output ./test-results/${{ matrix.svc_prefix }}_${{ matrix.svc_suffix }}_trivy.sarif

      - name: Upload Trivy scan results to GitHub Security tab
        id: trivy_upload_sarif
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
        if: steps.test.trivy_scan == 'failure'
        with:
          sarif_file: "./test-results/${{ matrix.svc_prefix }}_${{ matrix.svc_suffix }}_trivy.sarif"

      - name: tag and push container
        env:
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
          ECR_REGISTRY_ALIAS: use_an_lpa
          IMAGE_TAG: ${{ inputs.tag }}
          IMAGE_NAME: ${{ matrix.svc_prefix }}_${{ matrix.svc_suffix }}
          BRANCH_NAME: ${{ inputs.branch_name }}
        run: |
          docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$ECR_REGISTRY_ALIAS/$IMAGE_NAME:$IMAGE_TAG
          if [[ "${BRANCH_NAME}" == "main" ]]; then
            docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$ECR_REGISTRY_ALIAS/$IMAGE_NAME:latest
          fi
          docker push --all-tags $ECR_REGISTRY/$ECR_REGISTRY_ALIAS/$IMAGE_NAME
        if: |
          inputs.push_to_ecr == 'true' &&
          (inputs.specific_path == 'all' || inputs.specific_path == matrix.svc_prefix)

      - name: Output matrix job name
        id: output_names
        run: |
          touch matrix_job_names.txt
          JOB_NAME="${{ matrix.svc_prefix }},${{ matrix.svc_suffix }},${{ matrix.build_development_docker }},${{ matrix.run_unit_tests }},${{ matrix.run_integration_tests }},${{ matrix.artifact_to_dl }}"
