name: "[Codecov] Run code coverage"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      specific_path:
        description: 'Path to run on'
        required: true
        type: string
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9b4c13b0bfa31b4514c14f74b5a166c2708f43c6 # pin@v3
      - name: download artifact for front tests
        id: download-artifact-front-tests
        uses: actions/download-artifact@0daa75ebeac4617faeb127496dbd716b8bcce26e
        continue-on-error: true
        with:
          name: service-front
          path: service-front
        if: inputs.specific_path == 'all'
      - name: download artifact for api tests
        id: download-artifact-api-tests
        uses: actions/download-artifact@0daa75ebeac4617faeb127496dbd716b8bcce26e
        continue-on-error: true
        with:
          name: service-api
          path: service-api
        if: inputs.specific_path == 'all'
      - name: download artifact for admin tests
        id: download-artifact-admin-tests
        uses: actions/download-artifact@0daa75ebeac4617faeb127496dbd716b8bcce26e
        continue-on-error: true
        with:
          name: service-admin
          path: service-admin
        if: |
          ${{ inputs.specific_path }} == 'all' ||
          ${{ inputs.specific_path }} == 'admin'
      - name: service front codecov upload
        uses: codecov/codecov-action@v4
        with:
          name: use-an-lpa-front
          directory: ./service-front
          fail_ci_if_error: true
          flags: use-an-lpa-front
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          ( success() || failure() ) && inputs.specific_path == 'all'
      - name: service api codecov upload
        uses: codecov/codecov-action@v4
        with:
          name: use-an-lpa-api
          directory: ./service-api
          fail_ci_if_error: true
          flags: use-an-lpa-api
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          ( success() || failure() ) && inputs.specific_path == 'all'
      - name: service admin codecov upload
        uses: codecov/codecov-action@v4
        with:
          name: use-an-lpa-admin
          directory: ./service-admin
          fail_ci_if_error: true
          flags: use-an-lpa-admin
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          ( success() || failure() ) && ( inputs.specific_path == 'all' ||
          inputs.specific_path == 'admin' )
        # After uploading the coverage report, we want to fail the pipeline if there are any errors
      - name: fail pipeline if codecov fails
        run: exit 1
        if: |
          failure()
