name: "[Codecov] Run code coverage"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      specific_path:
        description: 'Path to run on'
        required: true
        type: string
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # pin@v3
      - name: download artifact for front tests
        uses: actions/download-artifact@e9ef242655d12993efdcda9058dee2db83a2cb9b
        with:
          name: service-front
          path: service-front
        if: inputs.specific_path == 'all'
      - name: download artifact for api tests
        uses: actions/download-artifact@e9ef242655d12993efdcda9058dee2db83a2cb9b
        with:
          name: service-api
          path: service-api
        if: inputs.specific_path == 'all'
      - name: download artifact for admin tests
        uses: actions/download-artifact@e9ef242655d12993efdcda9058dee2db83a2cb9b
        with:
          name: service-admin
          path: service-admin
        if: |
          inputs.specific_path == 'all' ||
          inputs.specific_path == 'admin'
      - name: service front codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: use-an-lpa-front
          directory: ./service-front
          fail_ci_if_error: true
          flags: use-an-lpa-front
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          inputs.specific_path == 'all'
      - name: service api codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: use-an-lpa-api
          directory: ./service-api
          fail_ci_if_error: true
          flags: use-an-lpa-api
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          inputs.specific_path == 'all'
      - name: service admin codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: use-an-lpa-admin
          directory: ./service-admin
          fail_ci_if_error: true
          flags: use-an-lpa-admin
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
        if: |
          inputs.specific_path == 'all' ||
          inputs.specific_path == 'admin'
