name: "[Docker] Jest unit tests web"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # pin@v3
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@81b728193625a15a55fcce4c6eb6187358533785 # pin@v3.0.8
        env:
          cache-name: cache-node-modules
        with:
          path: ./service-front/web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**service-front/web/package-lock.json') }}
      - name: install dependencies
        run: |
          if [ ! -d service-front/web/node_modules ]; then
            cd ./service-front/web/ && npm ci
          fi
      - name: run tests with jest
        run: |
          cd service-front/web/
          mkdir -p ./test-results/junit
          ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit
      - name: test summary
        uses: test-summary/action@77bb5a9f9c572416423f9a157cbf1159c1e75a4c # pin@v1.0
        with:
          paths: |
            **/service-front/web/test-results/junit/results.xml
        if: always()
