name: "[Docker] Node build web"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: ./service-front/web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/service-front/web/package-lock.json') }}
      - name: install dependencies
        run: |
          if [ ! -d service-front/web/node_modules ]; then
            cd ./service-front/web/ && npm ci --ignore-scripts
          fi
      - name: build assets
        run: |
          cd service-front/web/
          npm run build
      - name: archive dist
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist-web
          path: service-front/web/dist/
