name: "[Docker] Jest unit tests web"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      skip:
        description: 'Whether to skip the job'
        required: false
        type: string
        default: 'false'

jobs:
  unit-test:
    if: inputs.skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin@v3
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77 # pin@v3.0.8
        env:
          cache-name: cache-node-modules
        with:
          path: ./service-front/web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**service-front/web/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: install dependencies
        run: |
          if [ ! -d service-front/web/node_modules ]; then
            cd ./service-front/web/ && npm ci
          fi
      - name: run tests with jest
        run: |
          cd service-front/web/
          mkdir -p ./test-results/junit
          ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit
      - name: test summary
        uses: test-summary/action@77bb5a9f9c572416423f9a157cbf1159c1e75a4c # pin@v1.0
        with:
          paths: |
            **/service-front/web/test-results/junit/results.xml
        if: always()
