name: "[Docker] Jest unit tests web"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: ./service-front/web/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/service-front/web/package-lock.json') }}
      - name: install dependencies
        run: |
          if [ ! -d service-front/web/node_modules ]; then
            cd ./service-front/web/ && npm ci --ignore-scripts
          fi
      - name: run tests with jest
        run: |
          cd service-front/web/
          mkdir -p ./test-results/junit
          ./node_modules/.bin/jest --ci --runInBand --reporters=summary --reporters=github-actions --reporters=jest-junit
      - name: test summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: |
            **/service-front/web/test-results/junit/results.xml
        if: always()
