on:
  workflow_call:
    inputs:
      workspace:
        description: "Suffix of the environment_config_file_ artifact to download"
        required: true
        type: string

permissions:
  id-token: write

jobs:
  terraform_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"

      - name: configure AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 1800
          role-session-name: OPGUseAnLPASeedGithubAction

      - name: download cluster_config
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: environment_config_file_${{ inputs.workspace }}
          path: terraform/environment

      - name: install python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          cache: "pip"

      - name: install requirements
        run: pip install -r service-api/seeding/requirements.txt

      - name: seed dynamodb
        run: |
          export AWS_ACCOUNT_ID=$(cat ./terraform/environment/cluster_config.json | jq .account_id | xargs)
          if [[ "${AWS_ACCOUNT_ID}" == "690083044361" ]]
          then
            echo "Production account detected. Exiting"
            exit 1
          fi
          export DYNAMODB_TABLE_ACTOR_CODES=$(cat ./terraform/environment/cluster_config.json | jq .actor_lpa_codes_table | xargs)
          export DYNAMODB_TABLE_VIEWER_CODES=$(cat ./terraform/environment/cluster_config.json | jq .viewer_codes_table | xargs)
          export DYNAMODB_TABLE_ACTOR_USERS=$(cat ./terraform/environment/cluster_config.json | jq .use_users_table | xargs)
          export DYNAMODB_TABLE_USER_LPA_ACTOR_MAP=$(cat ./terraform/environment/cluster_config.json | jq .user_lpa_actor_map | xargs)
          export DYNAMODB_TABLE_STATS=$(cat ./terraform/environment/cluster_config.json | jq .stats_table | xargs)
          python service-api/seeding/dynamodb.py

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "^1.23.4"
          cache-dependency-path: "scripts/seed_lpas_and_codes/go.sum"

      - name: configure AWS credentials for lpa-store seeding
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 1800
          role-to-assume: arn:aws:iam::493907465011:role/use-a-lpa-dev-seeding
          role-session-name: OPGUseAnLPASeedGithubAction

      - name: seed lpa
        run: |
          cd scripts/seed_lpas_and_codes
          go run -v main.go
        env:
          LPA_STORE_BASE_URL: "https://${{ (inputs.workspace == 'preproduction' || inputs.workspace == 'demo') && 'demo' || 'development' }}.lpa-store.api.opg.service.justice.gov.uk"
          LPA_STORE_SECRET_ARN: arn:aws:secretsmanager:eu-west-1:311462405659:secret:opg-data-lpa-store/development/jwt-key-FLSHtM #pragma: allowlist secret

      - name: configure AWS credentials for codes seeding
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-duration-seconds: 1800
          role-to-assume: arn:aws:iam::288342028542:role/opg-use-an-lpa-ci-seeding-role
          role-session-name: OPGUseAnLPASeedGithubAction

      - name: seed codes
        run: |
          cd scripts/seed_lpas_and_codes
          go run -v main.go
        env:
          ACTIVATION_CODES_TABLE_ARN: "arn:aws:dynamodb:eu-west-1:288342028542:table/lpa-codes-${{ (inputs.workspace == 'preproduction' || inputs.workspace == 'demo') && 'demo' || 'integration' }}"
          PAPER_VERIFICATION_CODES_TABLE_ARN: "arn:aws:dynamodb:eu-west-1:288342028542:table/data-lpa-codes-${{ (inputs.workspace == 'preproduction' || inputs.workspace == 'demo') && 'demo' || 'integration' }}"
