name: "[Slack] Send slack notification"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      documentation_update:
        description: 'Whether the pipeline was update docs only'
        required: false
        type: string
        default: failure
      template:
        description: 'Template to use'
        required: true
        type: string
      workflow_status:
        description: 'Status of the workflow'
        required: false
        type: string
        default: failure
      workspace:
        description: 'Suffix of the environment_config_file_ artifact to download'
        required: true
        type: string
    secrets:
      webhook:
        required: true

jobs:
  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: install requirements
        run: pip install -r scripts/pipeline/requirements.txt

      - name: download cluster_config
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: environment_config_file_${{ inputs.workspace }}
          path: /tmp
        if: inputs.workflow_status == 'success'

      - name: Notify Slack Success
        env:
          SLACK_WEB_HOOK: ${{ secrets.webhook }}
          TEMPLATE: ${{ inputs.template }}
        if: inputs.workflow_status == 'success' && inputs.documentation_update != 'success'
        run: |
          commit_message="Merge ${{ github.head_ref }} into ${{ github.base_ref }}"

          if [[ ${{ inputs.template }} != "successful_dev_build.txt" ]]
          then
            commit_message="$(git log -1 --pretty=%B)"
          fi

          python scripts/pipeline/post_release_slack_notification/post_release_slack_notification.py \
            --slack_webhook ${SLACK_WEB_HOOK} \
            --template_path scripts/pipeline/post_release_slack_notification/${TEMPLATE} \
            --commit_message "$commit_message"

      - name: Notify Slack Documentation Update
        env:
          SLACK_WEB_HOOK: ${{ secrets.webhook }}
          TEMPLATE: ${{ inputs.template }}
        if: inputs.workflow_status != 'success' && inputs.documentation_update == 'success'
        run: |
          echo "{}" > /tmp/cluster_config.json
          python scripts/pipeline/post_release_slack_notification/post_release_slack_notification.py \
            --slack_webhook ${SLACK_WEB_HOOK} \
            --template_path scripts/pipeline/post_release_slack_notification/${TEMPLATE} \
            --commit_message "$(git log -2 --pretty=%B)"

      - name: Notify Slack Failure
        env:
          SLACK_WEB_HOOK: ${{ secrets.webhook }}
        if: inputs.workflow_status != 'success' && inputs.documentation_update != 'success'
        run: |
          echo "{}" > /tmp/cluster_config.json
          python scripts/pipeline/post_release_slack_notification/post_release_slack_notification.py \
          --slack_webhook ${SLACK_WEB_HOOK} \
          --template_path scripts/pipeline/post_release_slack_notification/unsuccessful_release.txt \
          --commit_message "$(git log -2 --pretty=%B)"
