name: "[Workflow] Dependabot Terraform Changes"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - 'dependabot/terraform/**'
      - 'UML-2559**'

permissions:
  contents: read
  security-events: read
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  branch_name:
    uses: ministryofjustice/opg-github-workflows/.github/workflows/data-parse-branch-name.yml@2d85e0b1b1b84ca98b6ec27d251d8e6319c95df9 # pin@v1.8.0

  terraform_lint:
    name: lint terraform code
    uses: ./.github/workflows/_lint-terraform.yml
    needs:
      - branch_name
    with:
      workspace: ${{ needs.branch_name.outputs.parsed }}
    secrets: inherit

  terraform_plan_shared_development:
    name: terraform plan shared development
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_lint
    with:
      workspace: development
      terraform_path: account
      specific_path: terraform
    secrets: inherit

  terraform_plan_environment:
    name: terraform plan environment
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_lint
      - branch_name
    with:
      workspace: ${{ needs.branch_name.outputs.parsed }}
      terraform_path: environment
      specific_path: terraform
    secrets: inherit

  end_of_workflow:
    name: end of workflow
    runs-on: ubuntu-latest
    needs:
      - branch_name
      - terraform_plan_shared_development
      - terraform_plan_environment
    steps:
      - name: workflow has ended without issue
        run: |
          echo "${{ needs.branch_name.outputs.parsed }} has been linted and planned"
