name: "[Job] Run Go unit tests"

on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '^1.23.4'
          cache-dependency-path: '**/go.sum'

      - name: Run tests
        run: |
          cd lambda-functions/event-receiver/app
          go test
