name: golangci-lint
on:
  pull_request:
    branches: [ master ]
    # paths:
    # # only run when service-front is changed
    #   - 'service-admin/**'
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v2.5.2
          working-directory: service-admin
          only-new-issues: true
          skip-go-installation: false
