name: Golang Linting for Admin App
on:
  pull_request:
    branches: [ main ]
    paths:
    # only run when service-admin is changed
      - 'service-admin/**'
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.16' # The Go version to download (if necessary) and use.
      - run: go version

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.45.2
          working-directory: service-admin
          # only-new-issues: true
