name: Generate scan report

on:
  push:
    branches:
      - "main"
      - "master"
  schedule:
    # Every Monday, at 4pm UTC
    - cron: '00 16 * * 1'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ministryofjustice/opg-repository-scanner@latest
