name: "PHP Linting with Code Sniffer"
on:
  pull_request:
    paths:
      - "**.php"
      - "**/app/phpcs.xml.dist"
      - ".github/workflows/php-linting.yml"

permissions:
  actions: read
  checks: read
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  phpcs:
    name: Lint PHP
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service_path: [ 'service-front', 'service-api' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 2

    - name: Setup PHP with tools
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
      with:
        php-version: '8.3'

    - name: Install and configure phpcs
      run: |
        export install_dir=$HOME/.composer/vendor
        composer global config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
        composer global require --no-interaction squizlabs/php_codesniffer:4.0.1 slevomat/coding-standard:8.25.1
        phpcs --version
        phpcs -i

    - uses: thenabeel/action-phpcs@ad4dc4eb272624204befdf0249959972cfc432b8 # v8
      with:
        files: "${{ matrix.service_path }}/**/*.php" # you may customize glob as needed
        phpcs_path: phpcs
        standard: ${{ matrix.service_path }}/app/phpcs.xml.dist
        fail_on_warnings: false
