name: "PHP Linting with Code Sniffer"
on:
  pull_request:
    paths:
      - "**.php"
      - "**/app/phpcs.xml.dist"
      - ".github/workflows/php-linting.yml"

permissions:
  actions: read
  checks: read
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  phpcs:
    name: Lint PHP

    strategy:
      matrix:
        service_path: [ 'service-front', 'service-api' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Install PHP_CodeSniffer
      run: |
        curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
        php phpcs.phar --version

    - name: Install used standards
      run: |
        curl -OL https://github.com/webimpress/coding-standard/archive/refs/tags/1.2.4.tar.gz
        curl -OL https://github.com/slevomat/coding-standard/archive/refs/tags/8.4.0.tar.gz
        mkdir webimpress && tar -xzf 1.2.4.tar.gz -C webimpress
        mkdir slevomat && tar -xzf 8.4.0.tar.gz -C slevomat
        php phpcs.phar --config-set installed_paths ./webimpress/coding-standard-1.2.4/src/WebImpressCodingStandard,./slevomat/coding-standard-8.4.0/SlevomatCodingStandard
        php phpcs.phar --config-show

    - uses: thenabeel/action-phpcs@v8
      with:
        files: "${{ matrix.service_path }}/**/*.php" # you may customize glob as needed
        phpcs_path: php phpcs.phar
        standard: ${{ matrix.service_path }}/app/phpcs.xml.dist
