name: "PHP Linting"
on:
  pull_request:
    branches: [ master ]
    # paths:
    # # only run when service-admin is changed
    #   - 'service-api/**'
    #   - 'service-front/**'

jobs:
  phpcs:
    name: Lint PHP

    strategy:
      matrix:
        service_path: [ 'service-front', 'service-api' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # important!

    # we may use whatever way to install phpcs, just specify the path on the next step
    # however, curl seems to be the fastest
    - name: Install PHP_CodeSniffer
      run: |
        curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
        php phpcs.phar --version

    - uses: tinovyatkin/action-php-codesniffer@v1
      with:
        files: "**.php" # you may customize glob as needed
        phpcs_path: php phpcs.phar
        standard: ${{ matrix.service_path }}/app/phpcs.xml.dist
