name: "PHP Linting with Code Sniffer"

on:
  workflow_call:

#on:
#  pull_request:
#    paths:
#      - "**.php"
#      - "**/app/phpcs.xml.dist"
#      - ".github/workflows/php-linting.yml"

permissions:
  actions: read
  checks: read
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  phpcs:
    name: Lint PHP

    strategy:
      matrix:
        service_path: [ 'service-front', 'service-api' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin@v3
      with:
        fetch-depth: 2

    - name: Setup PHP with tools
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Install and configure phpcs
      run: |
        export install_dir=$HOME/.composer/vendor
        composer global config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
        composer global require --no-interaction squizlabs/php_codesniffer:3.7.1 webimpress/coding-standard:1.2.4 slevomat/coding-standard:8.4.0
        phpcs --version
        phpcs -i

    - uses: thenabeel/action-phpcs@v8
      with:
        files: "${{ matrix.service_path }}/**/*.php" # you may customize glob as needed
        phpcs_path: phpcs
        standard: ${{ matrix.service_path }}/app/phpcs.xml.dist
