name: Psalm Static analysis - Service Front

on:
  pull_request:
    branches: [ master ]
    # paths:
    # # only run when service-front is changed
    #   - 'service-front/**'

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    defaults:
      run:
        # shell: bash
        working-directory: service-front/app
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: vimeo/psalm

      - name: Composer install
        run: composer install

      - name: Run psalm
        run: psalm --output-format=github --taint-analysis --report=results.sarif

      - name: ls -al
        run: ls -al

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
