name: Psalm Static analysis - Service API

on:
  pull_request:
    paths:
    # only run when service-api is changed
      - 'service-api/app/**'

permissions:
  actions: read
  checks: read
  contents: read
  deployments: read
  issues: read
  packages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read

env:
  SERVICE-PATH: service-api

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.SERVICE-PATH }}/app
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 8.3
          tools: vimeo/psalm:5
          extensions: apcu, gmp, openssl
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Composer install
        run: composer install --prefer-dist

      - name: Run psalm
        run: vendor/bin/psalm --output-format=github --long-progress

      - name: Run psalm taint analysis
        run: vendor/bin/psalm --output-format=github --taint-analysis --report=results.sarif --long-progress --ignore-baseline

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        with:
          sarif_file: ./${{ env.SERVICE-PATH }}/app/results.sarif
