
name: "[Workflow] Post Statistics to Slack"

on:
  pull_request:
    paths:
      - '.github/workflows/statistics.yml'
    branches:
      - main
  schedule:
    - cron: "0 9 * * 1" # 9am every Monday
  workflow_dispatch:

defaults:
  run:
    shell: bash
jobs:
  stats_to_slack:
    name: "Post service stats to Slack"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 1800
          role-session-name: OPGGetServiceStats
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.14.2
      - name: Install requirements
        run: |
          pip install -r ./scripts/pipeline/requirements.txt
      - name: Get stats
        run: |
          python ./scripts/get_statistics/get_statistics.py > ./stats.json
      - name: Show stats in summary (debug only)
        if: runner.debug == '1'
        run: |
          stat_content=$(cat ./stats.md)
          echo "${stat_content}" >> $GITHUB_STEP_SUMMARY
      - name: Post to Slack
        env:
          SLACK_WEB_HOOK: ${{ secrets.STATS_SLACK_WEBHOOK }}
        run: |
          python ./scripts/pipeline/service_stats_to_slack/stats_slack_notification.py \
          --slack_webhook ${{ env.SLACK_WEB_HOOK }} \
          --template_path ./scripts/pipeline/service_stats_to_slack/service_stats.txt \
          --stats_path ./stats.json
