name: TFSec Static analysis

on:
  pull_request:
    branches: [ master ]
    paths:
    # only run when terraform is changed
      - 'terraform/**'

# permissions:
#   actions: read
#   checks: read
#   contents: write
#   deployments: none
#   issues: none
#   packages: none
#   pull-requests: write
#   repository-projects: none
#   security-events: write
#   statuses: none

jobs:
  tfsec:
    name: tfsec sarif report
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_path: [ 'terraform/environment' ]
    steps:
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

      - name: tfsec
        uses: tfsec/tfsec-sarif-action@master
        with:
          working_directory: ${{ matrix.terraform_path }}
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: tfsec.sarif

      - name: tfsec
        uses: tfsec/tfsec-pr-commenter-action@main
        with:
          working_directory: ${{ matrix.terraform_path }}
