name: TFSec Static analysis

on:
  pull_request:
    branches: [ master ]

permissions:
  actions: read
  checks: read
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: write
  statuses: none

jobs:
  tfsec:
    name: TFSec Static analysis
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_path: [ 'terraform/environment' ]
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: tfsec with sarif reporting
        uses: tfsec/tfsec-sarif-action@master
        with:
          working_directory: ${{ matrix.terraform_path }}
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: tfsec.sarif

      - name: tfsec with pr comments
        uses: tfsec/tfsec-pr-commenter-action@main
        with:
          working_directory: ${{ matrix.terraform_path }}
          github_token: ${{secrets.GITHUB_TOKEN}}
