name: "[Trivy] scan alert report"

defaults:
  run:
    shell: bash

on:
  schedule:
    - cron: 30 10 * * 1-5

jobs:
  trivy_scan_alert_report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: install python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: install requirements
        run: pip install -r ./scripts/pipeline/generate_trivy_report/requirements.txt

      - name: send report to slack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.PROD_SLACK_WEB_HOOK }}
        run: |
          python ./scripts/pipeline/generate_trivy_report/code_scan_report.py
