name: "[Trivy] scan alert report"

defaults:
  run:
    shell: bash

on:
  schedule:
    - cron: 30 10 * * 1-5

jobs:
  trivy_scan_alert_report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: install requirements
        run: pip install -r ./scripts/pipeline/generate_trivy_report/requirements.txt

      - name: send report to slack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.PROD_SLACK_WEB_HOOK }}
        run: |
          python ./scripts/pipeline/generate_trivy_report/code_scan_report.py
