<div class="signin">
    <p class="govuk-body-s">
        {% trans %}Last signed in:{% endtrans %}
        {{ user.getDetail('LastLogin') is empty ? "Never" | trans : user.getDetail('LastLogin')|date('j F Y g:ia') }}
    </p>
    <nav class="navigation govuk-body-s">
        <li><a href="{{ path('your-details') }}" class="govuk-link">{% trans %}Your details{% endtrans %}</a></li>
        <li><a href="{{ path('lpa.dashboard') }}" class="govuk-link">{% trans %}Your LPAs{% endtrans %}</a></li>
        <li><a href="{{ path('logout') }}">{% trans %}Sign out{% endtrans %}</a></li>
    </nav>
</div>
