{% extends '@layout/default.html.twig' %}

{% block html_title %}{% trans %}Contact us{% endtrans %} - {{ block('service_name') }} - {{ parent() }}{% endblock %}

{% block service_name %}
{% if application == "actor" %}
    {% trans %}Use a lasting power of attorney{% endtrans %}
{% elseif application == "viewer" %}
    {% trans %}View a lasting power of attorney{% endtrans %}
{% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/welsh-switch.html.twig') }}

        <a href="{{ referer }}" class="govuk-back-link">{% trans %}Back{% endtrans %}</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl">{% trans %}Contact the Office of the Public Guardian{% endtrans %}
                        <span id="contact-us-page-hint" class="govuk-hint"> {% trans %}Telephone, email, post or fax{% endtrans %}</span>
                    </h1>
                    <p class="govuk-body">
                        {% trans %}If you have a query about using the online service or completing your LPA and cannot find the answer in the online help, then please contact us.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading-m">
                        <i class="icon icon-phone"></i>
                        {% trans %}Telephone{% endtrans %}
                    </h2>

                    <p class="govuk-body">{% trans %}0300 456 0300{% endtrans %}</p>

                    <h2 class="govuk-heading-s">{% trans %}Call centre opening times:{% endtrans %}</h2>

                    <p class="govuk-body">
                        {% trans %}
                        Monday, Tuesday, Thursday, Friday 9.30am to 5pm<br>
                        Wednesday 10am to 5pm
                        {% endtrans %}
                    </p>

                    <h2 class="govuk-heading-m">
                        <i class="icon icon-email"></i>
                        {% trans %}Email{% endtrans %}
                    </h2>

                    <p class="govuk-body"><a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a></p>

                    <p class="govuk-body">{% trans %}Our target is to respond to emails within 10 working days{% endtrans %}</p>

                    <h2 class="govuk-heading-m">
                        <i class="icon icon-fax"></i>
                        {% trans %}Fax{% endtrans %}
                    </h2>

                    <p class="govuk-body">{% trans %}0870 739 5780{% endtrans %}</p>

                    <h2 id="postal-address" class="govuk-heading-m">
                        <i class="icon icon-post"></i>
                        {% trans %}Post your LPA documents for registration to:{% endtrans %}
                    </h2>

                    <p class="govuk-body">
                        {% trans %}
                        Office of the Public Guardian<br>
                        PO Box 16185<br>
                        Birmingham<br>
                        B2 2WH
                        {% endtrans %}
                    </p>
                </div>
            </div>
            <hr>

            <p class="govuk-body">
                {% if application == "actor" %}
                    {% trans %}Your <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/Use-LPA" target="_blank">feedback</a> will help us to improve{% endtrans %}
                {% elseif application == "viewer"  %}
                    {% trans %}Your <a class="govuk-link" href="https://www.surveymonkey.com/r/View-LPA" target="_blank">feedback</a> will help us to improve{% endtrans %}
                {% endif %}
            </p>
        </main>
    </div>
{% endblock %}
