
{% if showTelephone ?? true %}
    <h3 class="govuk-heading-s">{% trans %}Telephone{% endtrans %}</h3>
    <p class="govuk-body">
        {% trans %}Telephone: <a class="govuk-link" href="tel:03004560300">0300 456 0300</a><br>
            Textphone: 0115 934 2778 <br>
            Monday to Friday, 9:30am to 5pm, except Wednesday, 10am to 5pm{% endtrans %}
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">{% trans %}Find out about call charges{% endtrans %}</a>
    </p>
{% endif %}

{% if showEmail ?? true %}
    <h3 class="govuk-heading-s">{% trans %}Email{% endtrans %}</h3>
    <p class="govuk-body">
        <a class="govuk-link" href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a><br>
    </p>
{% endif %}

{% if showAddress ?? true %}
    <h3 class="govuk-heading-s">{% trans %}Address{% endtrans %}</h3>
    <p class="govuk-body">
        {% trans %}
            Office of the Public Guardian<br>
            PO Box 16185<br>
            Birmingham<br>
            B2 2WH
        {% endtrans %}
    </p>
{% endif %}