{% block notice_messages %}
    {% if notices|length > 0 %}
        {# ... display the messages for the whole form #}
        <div class="lpa-valid-border" aria-labelledby="notice-message" role="alert" tabindex="-1" data-module="message-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                Request successful
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for id, messages in notices %}
                        {% for message in messages %}
                            <li>
                                {{  message|raw }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock notice_messages %}
